<!DOCTYPE html>
<html lang="en">

<head>
   <%- include('components/meta') -%>
  <title>AYKYA</title>
  <%- include('components/corecss') -%>
</head>
<body>
<header >
    <div class="extra-container ">
        <div class="header-2 ">
            <div class="header__menu-icon">
                <div class="header__menu-icon__dot ">
                    <span ></span>
                    <span ></span>
                </div>
                <div class="header__menu-icon__dot header__menu-icon__dot--vertical">
                    <span ></span>
                    <span ></span>
                </div>
                <div class="header__menu-icon__dot header__menu-icon__dot--skew">
                    <span ></span>
                    <span ></span>
                </div>
                <div class="header__menu-icon__dot header__menu-icon__dot--skew-reverse">
                    <span ></span>
                    <span ></span>
                </div>
            </div>
            <div class="position-fixed"></div>
            <div class="header__logo">
                <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
            </div>

            <a href="#" class="header__buy-ticket ">
                <span>BUY TICKETS</span>
            </a>
        </div>
    </div>
</header>
<section class="header-posistion"></section>
<%- include('components/nav') -%>
<div class="loading">
    <div class="sp sp-3balls"></div>
</div>







<section>
    <div class="speaker-grid-1">
        <!-- item 1 -->
        <div class="speaker-grid-1__item spk--width600 spk--height--500 ">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers1.jpg">
                <img src="assets/images/uploads/speaker/speakers1.jpg" alt="speakers1">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Kevin</h4>
                    <h4 class="speaker__last-name">Nichoce</h4>
                    <h5 class="speaker__career"> UX & UI Designer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>
                </div>
            </a>
        </div>
        <!-- item 2 -->
        <div class="speaker-grid-1__item spk--width400 spk--height--400">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers2.jpg">
                <img src="assets/images/uploads/speaker/speakers2.jpg" alt="speakers2">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Utada</h4>
                    <h4 class="speaker__last-name">Hikaru</h4>
                    <h5 class="speaker__career"> UX & UI Designer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 3 -->
        <div class="speaker-grid-1__item spk--width400 spk--height--600">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers3.jpg">
                <img src="assets/images/uploads/speaker/speakers3.jpg" alt="speakers3">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Scarlett</h4>
                    <h4 class="speaker__last-name">Scarlett</h4>
                    <h5 class="speaker__career"> UX & UI Designer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 4 -->
        <div class="speaker-grid-1__item spk--width520 spk--height--530">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers4.jpg">
                <img src="assets/images/uploads/speaker/speakers4.jpg" alt="speakers3">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Michael</h4>
                    <h4 class="speaker__last-name">Scottfield</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 5 -->
        <div class="speaker-grid-1__item spk--width600 spk--height--300">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers5.jpg">
                <img src="assets/images/uploads/speaker/speakers5.jpg" alt="speakers5">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Layla</h4>
                    <h4 class="speaker__last-name">Johnson</h4>
                    <h5 class="speaker__career">UI Designer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 6 -->
        <div class="speaker-grid-1__item spk--width400 spk--height--400">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers6.jpg">
                <img src="assets/images/uploads/speaker/speakers6.jpg" alt="speakers6">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Daniel</h4>
                    <h4 class="speaker__last-name">Bryan</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>

        <!-- item 8 -->
        <div class="speaker-grid-1__item spk--width520 spk--height--770">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers8.jpg">
                <img src="assets/images/uploads/speaker/speakers8.jpg" alt="speakers8">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Jenifer</h4>
                    <h4 class="speaker__last-name">Han</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 7 -->
        <div class="speaker-grid-1__item spk--width400 spk--height--400">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers7.jpg">
                <img src="assets/images/uploads/speaker/speakers7.jpg" alt="speakers7">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Brie</h4>
                    <h4 class="speaker__last-name">Larson</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 9 -->
        <div class="speaker-grid-1__item spk--width500 spk--height--500">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers9.jpg">
                <img src="assets/images/uploads/speaker/speakers9.jpg" alt="speakers9">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Jenifer</h4>
                    <h4 class="speaker__last-name">Lawrence</h4>
                    <h5 class="speaker__career">UI Designer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 10 -->
        <div class="speaker-grid-1__item spk--width500 spk--height--500">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers10.jpg">
                <img src="assets/images/uploads/speaker/speakers10.jpg" alt="speakers10">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Tyler</h4>
                    <h4 class="speaker__last-name">Scottfield</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 11 -->
        <div class="speaker-grid-1__item spk--width400 spk--height--300">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers11.jpg">
                <img src="assets/images/uploads/speaker/speakers11.jpg" alt="speakers11">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Travis</h4>
                    <h4 class="speaker__last-name">Scott</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 12 -->
        <div class="speaker-grid-1__item spk--width1000 spk--height--500">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers12.jpg">
                <img src="assets/images/uploads/speaker/speakers12.jpg" alt="speakers12">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Bob</h4>
                    <h4 class="speaker__last-name">Marley</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 13 -->
        <div class="speaker-grid-1__item spk--width460 spk--height--500">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers13.jpg">
                <img src="assets/images/uploads/speaker/speakers13.jpg" alt="speakers13">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Katy</h4>
                    <h4 class="speaker__last-name">Perry</h4>
                    <h5 class="speaker__career">UX Disigner</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>
        <!-- item 14 -->
        <div class="speaker-grid-1__item spk--width460 spk--height--500">
            <a class="detail-direction" href="assets/images/uploads/speaker/speakers14.jpg">
                <img src="assets/images/uploads/speaker/speakers14.jpg" alt="speakers14">
                <div class="speaker-infomation">
                    <h4 class="speaker__first-name">Luke</h4>
                    <h4 class="speaker__last-name">Perterson</h4>
                    <h5 class="speaker__career">Senior Developer</h5>
                    <p class="speaker__des">Repudiandae, enim quam corporis blanditiis voluptates, iusto vitae velit nesciunt placeat doloremque qui ipsa ut. Labore voluptas ut quo odit dolorem temporibus aspernatur nobis laboriosam nostrum.</p>

                </div>
            </a>
        </div>

    </div>
</section>




<%- include('components/footer') -%>

<%- include('components/corejs') -%>

</body>

</html>