<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('components/meta') -%>
		<title>AYKYA</title>
		<%- include('components/corecss') -%>
	</head>

	<body>
		<header id="header-trans2" class="header-trans-1">
			<div class="extra-container">
				<div class="header-2">
					<div class="header__logo">
						<a href="index"
							><img src="assets/images/logo.png" alt="logo"
						/></a>
					</div>

					<div id="header-trans2__btn" class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="testi-2__qoute">
				<div class="extra-container">
					<div class="testi-2__qoute__tittle">
						<div class="portfolio-2__tittle__slogan wow fadeInUp">
							<hr class="portfolio-2__tittle__cross" />
							<h2>AMRITA VISHWA VIDYAPEETHAM</h2>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="testimonial-area wow zoomIn">
						<div class="testimonial">
							<div class="testimonial__item">
								<div class="row">
									<div class="col-lg-4 col-md-4">
										<div
											class="testimonial__qoute first-img"
										>
											<img
												src="assets/images/ASEB.jpg"
												alt="quote"
											/>
										</div>
									</div>
									<div class="col-lg-8 col-md-8">
										<div
											class="testimonial__text fest-text_1"
										>
											<p class="t-nd-dark">
												Amrita Bengaluru is one of the
												schools under Amrita Vishwa
												Vidyapeetham.<br />
												Nestled in the tech city of
												Bengaluru , this university
												offers a wide variety of
												disciplines in B.Tech and M.Tech
												Engineering programmes and an
												MBA programme in the Amrita
												school of business.
												<br />The university offers
												ample research opportunities as
												well.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="testi-2__qoute" style="margin-top: -100px">
				<div class="extra-container">
					<div class="testi-2__qoute__tittle fest-subtitle_1">
						<div class="portfolio-2__tittle__slogan wow fadeInUp">
							<hr class="portfolio-2__tittle__cross" />
							<h2>OUR LOGO</h2>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="testimonial-area wow zoomIn">
						<div class="testimonial">
							<div class="testimonial__item">
								<div class="row">
									<div class="col-lg-4 col-md-4">
										<div
											class="testimonial__qoute second-img"
										>
											<img
												src="assets/images/icon_big.png"
												alt="quote"
											/>
										</div>
									</div>
									<div class="col-lg-8 col-md-8">
										<div
											class="testimonial__text fest-text_2"
										>
											<p class="t-nd-dark">
												A logo makes a significant
												impact depending on public
												perception Our logo has a
												beautiful peacock with colorful
												feathers.<br />
												Peacock is a symbol of beauty
												and grace. The colorful feathers
												of the peacock depict how people
												with their different and
												colorful perspectives and
												personalities can come together
												and form a more colorful and
												better world. It depicts
												togetherness even in
												differences.
											</p>
											<input
												type="checkbox"
												name="button"
												id="collapse-btn"
											/>
											<label
												class="btn-collapse"
												for="collapse-btn"
											></label>
											<div class="btn-content">
												Each color shows different
												emotions, when blended together
												can form a beautiful human.
												Peacock is like a candle in the
												darkness wherever it goes,
												spreading light and positivity.
												Even if it sees the heavy clouds
												and thunderstorms, it keeps
												dancing and enjoying which shows
												how one must enjoy life, being
												the light even in the darkness
												of their life.
												<br />The tagline ‘Rising
												Together’ is again the depiction
												of love and compassion for one
												another and how one must lift up
												others and rise together.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="extra-container">
				<div class="portfolio-2" style="margin-top: 50px">
					<a
						class="wow fadeInUp portfolio-2__item portfolio-2__item__h"
					>
						<img src="assets/images/home2.jpg" alt="portfolio" />
					</a>

					<a
						class="wow fadeInUp portfolio-2__item portfolio-2__item__v"
					>
						<img src="assets/images/home4.jpg" alt="portfolio" />
					</a>

					<a
						class="wow fadeInUp portfolio-2__item portfolio-2__item__h"
					>
						<img src="assets/images/home3.jpg" alt="portfolio" />
					</a>
					<div class="portfolio-2-sizer"></div>
				</div>
			</div>

			<div class="testi-2__qoute">
				<div class="extra-container">
					<div class="testi-2__qoute__tittle">
						<div class="portfolio-2__tittle__slogan wow fadeInUp">
							<hr class="portfolio-2__tittle__cross" />
							<h2>AYKYA</h2>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="testimonial-area wow zoomIn">
						<div class="testimonial">
							<div class="testimonial__item">
								<div class="row">
									<div class="col-lg-4 col-md-4">
										<div class="testimonial__qoute">
											<img
												src="assets/images/home1.jpg"
												alt="quote"
											/>
										</div>
									</div>
									<div class="col-lg-8 col-md-8">
										<div
											class="testimonial__text fest-text_3"
										>
											<p class="t-nd-dark">
												Amrita Bengaluru has initiated a
												step to be the forefront of this
												change introducing you the first
												ever completely online “DIGITAL
												MUTLI FEST - AYKYA”.
												<br />Our motive is to handle
												such unprecedented changes
												through a delightful platform.
												AYKYA is a synergy of all the
												protons of Amrita Bengaluru
												campus (B.Tech, M.Tech and MBA
												students).
											</p>
											<input
												type="checkbox"
												name="button"
												id="collapse-btn_2"
											/>
											<label
												class="btn-collapse_2"
												for="collapse-btn_2"
											></label>
											<div class="btn-content_2">
												It is a fusion of amazing
												unlimited challenges and events.
												The first ever biggest
												livestream fest in India, filled
												with many surprising and
												challenging events that gives a
												feast for the eyes.
												<br />Talents showcased, fears
												overcomed, hearts overwhelmed
												with pride.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="testi-2__qoute">
				<div class="extra-container">
					<div class="testi-2__qoute__tittle fest-subtitle_2">
						<div class="portfolio-2__tittle__slogan wow fadeInUp">
							<hr class="portfolio-2__tittle__cross" />
							<h2>AYKYA'S THEME '20</h2>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="testimonial-area wow zoomIn">
						<div class="testimonial">
							<div class="testimonial__item">
								<div class="row">
									<div class="col-lg-4 col-md-4">
										<div
											class="testimonial__qoute fourth-img"
										>
											<img
												src="assets/images/img.jpeg"
												alt="quote"
											/>
										</div>
									</div>
									<div class="col-lg-8 col-md-8">
										<div class="testimonial__text">
											<p class="t-nd-dark">
												Amrita School of Engineering and
												Business hosted AYKYA, a digital
												extravaganza that helped unleash
												hidden talent, confront the
												weariest of fears and enhance
												the creativity of minds all
												throughout this tough time of
												lockdown, in the midst of a
												heart wrenching pandemic.<br />

												Our theme for this year was
												mental health. A subtle and an
												unvoiced subject, began to catch
												everyone’s eye, gaining the
												right to spread awareness and
												prominence, in order to
												normalise the matter as any
												other.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="testi-2__qoute">
				<div class="extra-container">
					<div class="testi-2__qoute__tittle fest-subtitle_3">
						<div class="portfolio-2__tittle__slogan wow fadeInUp">
							<hr class="portfolio-2__tittle__cross" />
							<h2>OUR TAGLINE -'Rising Together'</h2>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="testimonial-area wow zoomIn">
						<div class="testimonial">
							<div class="testimonial__item">
								<div class="row">
									<div class="col-lg-4 col-md-4">
										<div
											class="testimonial__qoute fifth-img"
										>
											<img
												src="assets/images/home5.jpg"
												alt="quote"
											/>
										</div>
									</div>
									<div class="col-lg-8 col-md-8">
										<div class="testimonial__text">
											<p class="t-nd-dark">
												Rise from the ashes, A phrase
												derived from the mythological
												phoenix, is often used to
												describe the innate behaviour of
												humans. A reminder that we too
												can be reborn from the shells of
												our former selves. We believed
												that this tagline was apt for
												starting our conversation into
												mental health - holding high the
												‘never give up’ outlook on
												obstacles, resilience to
												hardships, grit to match the
												draining circumstances and over
												all, the power to rebound with
												twice the strength and emerge
												victorious no matter how trying
												the situation might be.<br />
											</p>
											<input
												type="checkbox"
												name="button"
												id="collapse-btn_3"
											/>
											<label
												class="btn-collapse_3"
												for="collapse-btn_3"
											></label>
											<div class="btn-content_3">
												While it was crucial to raise
												awareness about mental health,
												it was also essential that we
												destigmatized talking about it.
												AYKYA emphasized on the
												importance of recognizing signs
												of deteriorating mental health,
												in ourselves and others;
												Reaching out for help while also
												learning how to help each
												other.<br />

												And as the saying goes,”Our
												greatest glory is not in never
												failing, but in rising every
												time we fail!”,AYKYA has been a
												proud ambassador in elevating an
												intricate topic of Mental health
												and creating awareness in the
												masses.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="portfolio-2__head">
				<div class="extra-container">
					<div class="row">
						<div
							class="portfolio-2__tittle wow fadeInUp"
							style="padding-top: 30px"
						>
							<div class="portfolio-2__tittle__slogan">
								<h3>
									JOIN US IN ENJOYING THE SWEETNESS OF VICTORY
									AND JOY IN TOGETHERNESS
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('components/footer') -%> <%- include('components/corejs')
		-%>
	</body>
</html>
