<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('components/meta') -%>
		<title>AYKYA</title>
		<%- include('components/corecss') -%>
	</head>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="index"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a href="#" class="header__buy-ticket">
						<span>BUY TICKETS</span>
					</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventGallery/cultural_week.jpg"
							alt="Cultural Week Blog Thumbnail 1"
						/>
					</div>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 14<sup
								>th</sup
							>
							August 2020 - 28<sup>th</sup> August 2020</span
						>
						<!-- <span><i class="far fa-comment-alt"></i> 2 comment</span> -->
					</div>
					<h4 style="color: aliceblue">Cultural Week</h4>
					<div class="blog-single-content__paragraph">
						<p>
							It began with the
							<strong>"OPEN MIC"</strong> conducted on the
							Instagram Live platform on 14 <sup>th</sup> , in
							which many participants presented themselves by
							playing different instruments and singing songs,
							leaving the audience mesmerized by their
							performance. The next event was
							<strong>"HAPPY INDEPENDENCE DAY"</strong> conducted
							on 15<sup> th </sup> August 2020 on Instagram again,
							it was a tribute to Bharat Mata through various
							activities on patriotic themes that included
							singing, dancing, painting, and musical acts.
						</p>
						<p>
							The next was <strong>"AAJA NACHLE"</strong> which
							was conducted on 15 <sup>th</sup> August 2020 on
							Instagram, a dance competition without any barriers,
							performed by both, boys and girls. Next on 17
							<sup>th</sup> August, the
							<strong>“LIGHTS CAMERA ACTION’’</strong> event was
							conducted on Microsoft teams platform, which
							included a Mono Act competition in which a number of
							people performed their acts. On 19
							<sup>th</sup> August
							<strong>“DOODLE WITH NIDHI’’</strong> was conducted
							on Microsoft teams. Through this AYKYA, Mrs. Nidhi
							Aggarwal conducted a doodling webinar where 25
							enthusiastic participants learned how to enhance
							their creativity.
						</p>

						<div class="blog-single-content__quote">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<img
										src="/assets/images/uploads/blog/cultural_blog.jpg"
										alt="Cultural Week Blog Picture 1"
									/>
								</div>
								<div class="col-lg-6 col-md-6">
									<div
										class="blog-single-content__quote__text"
									>
										<!-- <div
											class="blog-single-content__quote__main"
										>
											<p>
												Cras id efficitur justo, id
												fringilla odio. Nunc gravida
												nisl. Lorem ipsum dolor sit
												amet, consectetur adipisicing
												elit.
											</p>
										</div> -->
										<p>
											For all the chess masters, a super
											fun event -
											<strong
												>“CONQUER THE SQUARE”</strong
											>
											was conducted on 21
											<sup>st</sup> August on the
											platform, lichess.org. For all the
											creative minds out there who can
											find creativity in anything, AYKYA
											had for them. The
											<strong>“BEST OUT OF WASTE”</strong>
											was conducted from 20
											<sup>th</sup> to 22
											<sup>nd</sup> August on Instagram.
											This two-day event made the
											participants bring out their
											innovative side and were scored
											based on a short video they had
											sent.
										</p>
										<p>
											Since the cultural week covered
											every corner, how can we leave the
											skillful photographers aside!AYKYA
											cultural week came to a glorious end
											by conducting the last event called
											<strong>“PAW- TOGRAPHY”</strong>
											that captured the photography skills
											of all the animal lovers on
											Instagram. Participants clicked
											pictures of their pets sided by a
											sweet note, that helped them fetch a
											number of exciting prizes. This way,
											our cultural week captured every
											essence of talent and ability!
										</p>
										<!-- <p>
										Et ducimus nulla, earum quam
										accusantium adipisci itaque ullam,
										beatae libero voluptates!
									</p> -->
									</div>
								</div>
							</div>
						</div>

						<!-- <div class="blog-single-content__tags">
							<span>Tags:</span>
							<a href="#">Conference</a>
							<a href="#">/</a>
							<a href="#">Design</a>
							<a href="#">/</a>
							<a href="#">Art</a>
						</div> -->
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="managementweek"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Management Week</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="#"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Next event Name</h5>
							</a>
						</div>
					</div>

					<!-- <div class="blog-single-content__writer">
						<div class="blog-single-content__writer__avatar">
							<img
								src="/assets/images/uploads/blog/witter.png"
								alt="witter"
							/>
						</div>
						<div class="blog-single-content__writer__text">
							<h3>Angela Andrews</h3>
							<span
								class="blog-single-content__writer__text__role"
								>-</span
							>
							<span
								class="blog-single-content__writer__text__role"
								>Writer</span
							>
							<p>
								Lorem ipsum dolor sit, amet consectetur
								adipisicing elit. Sequi ipsum minus mollitia
								quis soluta cupiditate laborum accusantium
								perspiciatis, libero quibusdam.
							</p>
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-pinterest"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</div>
					</div> -->
					<!-- <h5 class="comment__leave-comment">Leave A Comment</h5>
						<div class="fillin-form">
							<form action="#">
								<div class="fillin-form__fields">
									<input type="text" placeholder="Name" />
									<input type="email" placeholder="Email" />
								</div>

								<textarea
									placeholder="Message"
									cols="30"
									rows="10"
								></textarea>
								<div class="fillin-form__submit">
									<svg
										viewBox="4 0 118 98.6"
										class="hand-draw"
									>
										<path
											class="hand-med-hover"
											d="M33.2,31.2C53.8,14.1,78.4,9.5,96.9,19.4c12.2,6.5,26.7,21.9,23.9,37.8c-3.9,22.2-39.1,37.1-65.6,34.5c-8.8-0.9-17.6-3.8-25.3-8.2C16.7,76,4.5,63.1,4.4,47.2C4.3,32.4,15,19.3,27.2,12.1c3.6-2.1,7.5-3.9,11.5-5.3c15.2-5.5,27.7-2.5,32.7-1.3c3.6,0.9,18,4.9,29.9,19c5.4,6.3,11.2,13.1,12.5,24.5c0.3,2.6,2,20.2-10.5,34.1C93.9,93.4,82,94,70,94.7c-9.9,0.6-25.8,1.5-39.3-10.1c-2.3-2-20.5-18.1-16-38.8c2.4-10.8,10-18.2,12.4-20.5c6.8-6.6,13.6-8.9,19.7-11C52,12.7,63,9.1,76.3,11.8c5,1,14.8,3.1,23.4,11.9c2.4,2.5,9.2,9.7,11.6,22c0.8,4.2,2.2,11.4-0.4,19.1c-4.9,14.2-20.9,19.7-28.3,22.4c-6,2.1-18,6.4-31.1,1.9c-16.1-5.4-33.7-23.9-28.8-44.2C25.5,33.2,35,24,44.6,19.9c14.3-6.2,26.1,0,28,1"
										/>
									</svg>
									<input class="moving-btn" type="submit" />
								</div>
							</form>
						</div> -->
				</div>
			</div>
		</section>

		<%- include('components/footer') -%> <%- include('components/corejs')
		-%>
	</body>
</html>
