<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('components/meta') -%>
	<title>AYKYA</title>
	<%- include('components/corecss') -%>
</head>

<body>
	<header id="header-trans2" class="header-trans-1">
		<div class="extra-container">
			<div class="header-2">
				<div class="header__logo">
					<a href="index"><img src="assets/images/logo-white.png" alt="logo" width="105px" height="41px" /></a>
				</div>

				<div id="header-trans2__btn" class="header__menu-icon">
					<div class="header__menu-icon__dot">
						<span></span>
						<span></span>
					</div>
					<div class="header__menu-icon__dot header__menu-icon__dot--vertical">
						<span></span>
						<span></span>
					</div>
					<div class="header__menu-icon__dot header__menu-icon__dot--skew">
						<span></span>
						<span></span>
					</div>
					<div class="header__menu-icon__dot header__menu-icon__dot--skew-reverse">
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="header-posistion"></section>
	<%- include('components/nav') -%>
	<div class="loading">
		<div class="sp sp-3balls"></div>
	</div>

	<section>
		<div class="extra-container">
			<div class="schedule__tittle">
				<h1>Events Schedule</h1>
			</div>
		</div>
		<div class="container">
			<div class="schedule-tab">
				<div class="schedule-tab__item tab-active" data-tab="tab-1">
					<h2>Management Events</h2>
					<!-- <p>Monday, 26th Dec</p> -->
				</div>
				<div class="schedule-tab__item" data-tab="tab-2">
					<h2>Cultural Events</h2>
					<!-- <p>Tuesday, 27th Dec</p> -->
				</div>
				<div class="schedule-tab__item" data-tab="tab-3">
					<h2>Technical Events</h2>
					<!-- <p>Wednesday, 28th Dec</p> -->
				</div>
			</div>
			<div id="tab-1" class="schedule-table tab-current">

				<div class="break-time wow flipInX">
					<div class="row">
						<div class="col-lg-3 col-sm-5">
							<div class="schedule-table__time">
								<!-- <h3>10:30am - 11:00am</h3>
								<p>(In Lobby A)</p> -->
							</div>
						</div>
						<div class="col-lg-3 col-sm-7">
							<div class="break-time__coffee">
								<h3>Pre-Events</h3>
							</div>
						</div>
					</div>
				</div>


				<!-- greating row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__greating">
							<h3>3/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__greating schedule-table__greating--event">
							<h3>Visleshana 2.0</h3>
							<p>
								Round 1 (Quiz) 
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>7:00PM - 8:00PM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- greating row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>4/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>Pitch Peak</h3>
							<p>
								Round 1 (Video and PPT submission)
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>Before 5:00PM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- info row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>5/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>Business Mavericks</h3>
							<p>
								Round 1 (Report Submission) 
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>Before 12:00 AM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="break-time wow flipInX">
					<div class="row">
						<div class="col-lg-3 col-sm-5">
							<div class="schedule-table__time">
								<!-- <h3>10:30am - 11:00am</h3>
								<p>(In Lobby A)</p> -->
							</div>
						</div>
						<div class="col-lg-3 col-sm-7">
							<div class="break-time__coffee">
								<h3>Day 1</h3>
							</div>
						</div>
					</div>
				</div>
				<!-- info row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>6/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>Trade O Mania</h3>
							<p>
								Round 1 (Quiz)
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>6:00PM - 7:00PM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>

								<!-- ---------------------------------------------------------------------------------- -->


				<div class="break-time wow flipInX">
					<div class="row">
						<div class="col-lg-3 col-sm-5">
							<div class="schedule-table__time">
								<!-- <h3>10:30am - 11:00am</h3>
								<p>(In Lobby A)</p> -->
							</div>
						</div>
						<div class="col-lg-3 col-sm-7">
							<div class="break-time__coffee">
								<h3>Day 2</h3>
							</div>
						</div>
					</div>
				</div>
				<!-- info row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>7/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>Visleshana 2.0</h3>
							<p>
								Round 2 (Report  Submission)
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>Before 10:00AM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- info row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>7/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>SCOPE</h3>
							<p>
								Round 1 (Quiz)
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>4:00PM - 4:30PM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- info row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>7/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>SCOPE</h3>
							<p>
								Round 2 ( Numerical Problem)
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>5:30PM - 6:30PM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- info row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>7/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>Trade O Mania</h3>
							<p>
								Round 2 (Virtual Market Trading)
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>10:00AM - 1:00PM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- info row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>7/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>Trade O Mania</h3>
							<p>
								Round 2 (Presentation)
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>4:00PM - 7:00PM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- info row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>7/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>Pitch Peak</h3>
							<p>
								Round 2 (Presentation)
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>10:00AM - 1:00PM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ---------------------------------------------------------------------------------- -->
				<div class="break-time wow flipInX">
					<div class="row">
						<div class="col-lg-3 col-sm-5">
							<div class="schedule-table__time">
								<!-- <h3>10:30am - 11:00am</h3>
								<p>(In Lobby A)</p> -->
							</div>
						</div>
						<div class="col-lg-3 col-sm-7">
							<div class="break-time__coffee">
								<h3>Day 3</h3>
							</div>
						</div>
					</div>
				</div>
				<!-- info row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>8/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>Visleshana 2.0</h3>
							<p>
								Round 3 ( Presentation)
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>3:00PM - 6:00PM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>8/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>SCOPE</h3>
							<p>
								Round 3 (Debate)
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>10:00AM - 12:30PM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>8/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>SCOPE</h3>
							<p>
								Round 4 ( Case Study)
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>2:00PM - 5:00PM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>8/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>Trade O Mania</h3>
							<p>
								Round 3 ( Actual Market Trading)
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>9:00AM - 3:30PM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__end">
							<h3>8/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__end schedule-table__end--event">
							<h3>Pitch Peak</h3>
							<p>
								Round 3 (Pitching Competition)
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__end">
								<div class="schedule-table__speaker__name">
									<h3>10:00AM - 1:00PM</h3>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- ---------------------------------------------------------------------------------- -->
				<!-- ---------------------------------------------------------------------------------- -->
				<!-- ---------------------------------------------------------------------------------- -->

			</div>
			<div id="tab-2" class="schedule-table">
				<div class="break-time wow flipInX">
					<div class="row">
						<div class="col-lg-3 col-sm-5">
							<div class="schedule-table__time">
								<!-- <h3>10:30am - 11:00am</h3>
								<p>(In Lobby A)</p> -->
							</div>
						</div>
						<div class="col-lg-3 col-sm-7">
							<div class="break-time__coffee">
								<h3>Throughout 3 days </h3>
							</div>
						</div>
					</div>
				</div>

				<!-- greating row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__greating">
							<h3>6th to 8th November</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__greating schedule-table__greating--event">
							<h3>Art Gallery</h3>
							<p>
								On the aykya official website
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>-</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- greating row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>6th to 8th November</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>Best footforward</h3>
							<p>
								On instagram
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>-</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
								<!-- ---------------------------------------------------------------------------------- -->

				<div class="break-time wow flipInX">
					<div class="row">
						<div class="col-lg-3 col-sm-5">
							<div class="schedule-table__time">
								<!-- <h3>10:30am - 11:00am</h3>
								<p>(In Lobby A)</p> -->
							</div>
						</div>
						<div class="col-lg-3 col-sm-7">
							<div class="break-time__coffee">
								<h3>Day 1 </h3>
							</div>
						</div>
					</div>
				</div>
				<!-- greating row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>6/11/20</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>Conquer the squares</h3>
							<p>
								on lichess
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>3pm to 5 pm</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- greating row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>6/11/20</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>open mic- comedy</h3>
							<p>
								on instagram
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>5pm to 6pm</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ---------------------------------------------------------------------------------- -->

				<div class="break-time wow flipInX">
					<div class="row">
						<div class="col-lg-3 col-sm-5">
							<div class="schedule-table__time">
								<!-- <h3>10:30am - 11:00am</h3>
								<p>(In Lobby A)</p> -->
							</div>
						</div>
						<div class="col-lg-3 col-sm-7">
							<div class="break-time__coffee">
								<h3>Day 2 </h3>
							</div>
						</div>
					</div>
				</div>

				<!-- greating row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>7/11/20</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>Shipwreck</h3>
							<p>
								on instagram
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>10 am to 12 pm</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- greating row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>7/11/20</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>open mic- music</h3>
							<p>
								on instagram
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>5pm to 6pm</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- ------------------------------------------------------------------------------------>

				<div class="break-time wow flipInX">
					<div class="row">
						<div class="col-lg-3 col-sm-5">
							<div class="schedule-table__time">
								<!-- <h3>10:30am - 11:00am</h3>
								<p>(In Lobby A)</p> -->
							</div>
						</div>
						<div class="col-lg-3 col-sm-7">
							<div class="break-time__coffee">
								<h3>Day 3 </h3>
							</div>
						</div>
					</div>
				</div>
				
				<!-- greating row 1st -->
				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__info">
							<h3>8/11/20</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__info schedule-table__info--event">
							<h3>Battle of bands</h3>
							<p>
								on zoom
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<div class="schedule-table__speaker__name">
									<h3>10 am to 12 pm</h3>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row wow flipInX">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__end">
							<h3>8/11/2020</h3>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__end schedule-table__end--event">
							<h3>open mic- talk on a topic</h3>
							<p>
								on instagram
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__end">
								<div class="schedule-table__speaker__name">
									<h3>5pm to 6pm</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div id="tab-3" class="schedule-table">
				<!-- greating row 1st -->
				<div class="row">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__greating">
							<h3>9:00am - 9:50am</h3>
							<p>(In Lobby A)</p>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event schedule-table__greating schedule-table__greating--event">
							<h3>Epilogue & Souvenir</h3>
							<p>
								Continental breakfast and registration for
								conference. Pick up your name badge and
								goodie bag
							</p>
						</div>
					</div>
				</div>

				<!-- row 2nd--- normal -->
				<div class="row">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time">
							<h3>9:00am - 10:30am</h3>
							<p>(At Hall A)</p>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event">
							<h3>Workshop for Developer</h3>
							<p>
								Fusce consectetur, sapien nec congue
								convallis, enim turpis dap. Continental
								breakfast and registration for conference.
								Pick up your name badge and goodie bag
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<img src="../assets/images/uploads/schedule/schedule4.png" alt="speaker1" />
								<div class="schedule-table__speaker__name">
									<p>Amy Roberts</p>
									<span>Product Designer</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- row 3rd--- Break -->
				<div class="break-time">
					<div class="row">
						<div class="col-lg-3 col-sm-5">
							<div class="schedule-table__time">
								<h3>10:30am - 11:00am</h3>
								<p>(In Lobby A)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-7">
							<div class="break-time__coffee">
								<h3>Coffee Break</h3>
							</div>
						</div>
					</div>
				</div>

				<!-- row 4th--- normal -->
				<div class="row">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time">
							<h3>11:00am - 12:00am</h3>
							<p>(At Hall B)</p>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event">
							<h3>Keynote: UX/UI Design</h3>
							<p>
								Vivamus eget ante metus. Nulla luctus vitae
								nulla et vulputate. Pick up your name badge
								and goodie bag
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<img src="../assets/images/uploads/schedule/schedule2.png" alt="speaker2" />
								<div class="schedule-table__speaker__name">
									<p>Gerald Alvarez</p>
									<span>UX/UI Designer</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- row 5th --- Break -->
				<div class="break-time break-time--lunch">
					<div class="row">
						<div class="col-lg-3 col-sm-5">
							<div class="schedule-table__time">
								<h3>12:00am</h3>
								<p>(At L.U.X Restaurant)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-7">
							<div class="break-time__coffee">
								<h3>Lunch Time</h3>
							</div>
						</div>
					</div>
				</div>

				<!-- row 6th--- normal -->
				<div class="row">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time">
							<h3>2:00pm - 3:30pm</h3>
							<p>(At Hall D)</p>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event">
							<h3>Prototype Everything</h3>
							<p>
								Nunc scelerisque diam fringilla aliquam
								tincidunt. Curabitur ut pellentesque
								sollicitudin massa lectus, sed lacinia
								ligula lobo. Vivamus eget ante metus. Nulla
								luctus vitae nulla et vulputate. Pick up
								your name badge and goodie bag.
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<img src="../assets/images/uploads/schedule/schedule3.png" alt="speaker3" />
								<div class="schedule-table__speaker__name">
									<p>Kathleen Watson</p>
									<span>UX Designer</span>
								</div>
							</div>

							<div class="schedule-table__speaker__info">
								<img src="../assets/images/uploads/schedule/schedule1.png" alt="speaker4" />
								<div class="schedule-table__speaker__name">
									<p>Joe Baker</p>
									<span>Founder</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- row 7th--- Break -->
				<div class="break-time">
					<div class="row">
						<div class="col-lg-3 col-sm-4">
							<div class="schedule-table__time">
								<h3>3:30pm - 4:00pm</h3>
								<p>(In Lobby D)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-8">
							<div class="break-time__coffee">
								<h3>Coffee Break</h3>
							</div>
						</div>
					</div>
				</div>

				<!-- row 8th--- normal -->
				<div class="row">
					<div class="col-lg-3 col-sm-4">
						<div class="schedule-table__time">
							<h3>4:00pm - 5:00pm</h3>
							<p>(At Hall D)</p>
						</div>
					</div>
					<div class="col-lg-6 col-sm-8">
						<div class="schedule-table__event">
							<h3>Design Systems with Soul</h3>
							<p>
								Pellentesque sollicitudin massa lectus,
								pellentesque sollicitudin massa lectus, sed
								lacinia ligula lobo.
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-sm-12">
						<div class="schedule-table__speaker">
							<div class="schedule-table__speaker__info">
								<img src="../assets/images/uploads/schedule/schedule5.png" alt="speaker5" />
								<div class="schedule-table__speaker__name">
									<p>Kathleen Watson</p>
									<span>UX Designer</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- end row 8th -->
				<div class="row">
					<div class="col-lg-3 col-sm-5">
						<div class="schedule-table__time schedule-table__end">
							<h3>5:00pm</h3>
							<p>(At Hall D)</p>
						</div>
					</div>
					<div class="col-lg-6 col-sm-7">
						<div class="schedule-table__event">
							<h3>Day One Done</h3>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="schedule-table__speaker"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include('components/footer') -%>
	<%- include('components/corejs') -%>
</body>

</html>