<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('components/meta') -%>
		<title>AYKYA</title>
		<meta name="description" content="AYKYA Fest" />
		<meta property="og:title" content="AYKYA" />
		<meta property="og:url" content="https://aykyamultifest.com" />
		<meta property="og:description" content="AYKYA Fest" />
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Event",
				"name": "AYKYA",
				"startDate": "2020-11-06T07:00:00+05:30",
				"endDate": "2020-11-08T23:59+05:30",
				"eventStatus": "https://schema.org/EventScheduled",
				"eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
				"location": {
					"@type": "VirtualLocation",
					"url": "https://aykyamultifest.com"
				},
				"image": [
					"https://aykyamultifest.com/android-chrome-512x512.png"
				],
				"description": "AYKYA Fest",
				"organizer": {
					"@type": "Organization",
					"name": "AYKYA Amrita Bangalore",
					"url": "https://aykyamultifest.com"
				}
			}
		</script>
		<%- include('components/corecss') -%>
	</head>
	<body>
		<header id="header-trans" class="header-trans-1">
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<!-- <div class="header__logo">
					<a href="/"><img src="assets/images/logo-white.png" alt="logo" width="105px" height="41px" /></a>
				</div> -->
					<!-- <a
							 href="#"
							class="header__buy-ticket"
							target="_blank"
							rel="noopener"
						>
							<span>Register</span>
						</a> -->
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('components/nav') -%> <%- include('components/loading') -%>
		<section>
			<div class="cursor"></div>
			<div class="cursor-follower"></div>
			<!-- <div class="overlay">
			<div class="iconContainer">
				<div class="phone"><i class="fa fa-repeat"></i></div>
				<p>Rotate your device for best experience</p>
			</div>
			<h1>Resize the screen!</h1>
		</div> -->
			<div class="pagebanner-2" id="logo-reveal">
				<div class="pagebanner-2__item">
					<div class="pagebanner-brg pagebanner-brg--2"></div>
					<div id="stars"></div>
					<div id="stars2"></div>
					<div id="stars3"></div>
					<div class="falling-star">
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
						<div class="star"></div>
					</div>
					<div class="logo-reveal-timer" id="logo-reveal-timer">
						<div id="title">
							<span>Welcome To</span><br />
							<a
								href="https://lcmb.in/"
								target="_blank"
								rel="noopener"
							>
								<img
									alt="LCM Logo"
									float="left;"
									src="assets/images/lcm.jpg"
									style="display: inline"
									class="amrita_sponsor"
							/></a>
							<img
								alt="amarRaja Logo"
								float="left;"
								src="assets/images/amarRaja.png"
								style="display: inline"
								class="amrita_sponsor"
							/>
							<br />
							<span class="title-heading text-center">
								<img
									src="assets/images/logo-white.png"
									alt="logo"
							/></span>
							<div style="margin-top: 165px" class="text-center">
								<p>In association with</p>
								<img
									alt="ACRD Logo"
									src="assets/images/acrd.jpg"
									style="display: inline"
									class="amrita_sponsor"
								/>
							</div>
						</div>
						<div
							class="pagebanner__count-down-area"
							style="margin-top: 165px"
						>
							<div class="">
								<div class="footer__get-ticket footer-move-up">
									<a href="/schedule">Schedule</a>
								</div>
								<!-- <p> Check out our events on 6th, 7th and 8th of November</p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<%- include('components/corejs') -%>
	</body>
</html>
