<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('components/meta') -%>
	<title>AYKYA</title>
	<%- include('components/corecss') -%>
</head>
<body style="background-color: grey">
<header >
	<div class="extra-container ">
		<div class="header-2 ">
			<div class="header__menu-icon">
				<div class="header__menu-icon__dot ">
					<span ></span>
					<span ></span>
				</div>
				<div class="header__menu-icon__dot header__menu-icon__dot--vertical">
					<span ></span>
					<span ></span>
				</div>
				<div class="header__menu-icon__dot header__menu-icon__dot--skew">
					<span ></span>
					<span ></span>
				</div>
				<div class="header__menu-icon__dot header__menu-icon__dot--skew-reverse">
					<span ></span>
					<span ></span>
				</div>
			</div>
			<div class="position-fixed"></div>
			<div class="header__logo">
				<a href="index"><img src="assets/images/logo.png" alt="logo"></a>
			</div>

			<a href="#" class="header__buy-ticket ">
				<span>BUY TICKETS</span>
			</a>
		</div>
	</div>
</header>
<section class="header-posistion"></section>
<%- include('components/nav') -%>
<div class="loading">
	<div class="sp sp-3balls"></div>
</div>



<script>

	function nameOnHover(obj)
	{
		var divId = "spk"+obj.id.substring(3,obj.id.length)
		console.log(divId)
		document.getElementById(divId).style.visibility = "visible";
		// document.getElementById("spk2").style.visibility = "visible";
	}
	function nameOnLeave(obj)
	{
		var divId = "spk"+obj.id.substring(3,obj.id.length)
		console.log(divId)
		document.getElementById(divId).style.visibility = "hidden";
		// document.getElementById("spk2").style.visibility = "hidden";
	}

</script>



<section>
	<div class="speaker-grid-1">
		<!-- item 1 -->
		<div style="height: fit-content" class="speaker-grid-1__item">
			<div class="detail-direction">
				<img id="img1" style="height: 450px;width: 300px;margin: 20px" onmouseover="nameOnHover(this)" onmouseleave="nameOnLeave(this)" src="assets/images/uploads/speaker/speakers1.jpg" alt="speakers1" >
				<div id="spk1" class="text">Kevin Nichoce</div>
			</div>
		</div>
		<!--		 item 2 -->
		<div style="height: fit-content" class="speaker-grid-1__item">
			<div class="detail-direction">
				<img id="img2" style="height: 450px;width: 300px;margin: 20px" onmouseover="nameOnHover(this)" onmouseleave="nameOnLeave(this)" src="assets/images/uploads/speaker/speakers2.jpg" alt="speakers2">
				<div id="spk2" class="text">Utada Hikaru</div>
			</div>
		</div>
		<!--		 item 3-->
		<div style="height: fit-content" class="speaker-grid-1__item">
			<dive class="detail-direction">
				<img id="img3" style="height: 450px;width: 300px;margin: 20px" onmouseover="nameOnHover(this)" onmouseleave="nameOnLeave(this)" src="assets/images/uploads/speaker/speakers3.jpg" alt="speakers3">
				<div id="spk3" class="text">Scarlett Scarlett</div>
			</dive>
		</div>
		<!--		 item 4-->
		<div style="height: fit-content" class="speaker-grid-1__item">
			<div class="detail-direction">
				<img id="img4" style="height: 450px;width: 300px;margin: 20px"  onmouseover="nameOnHover(this)" onmouseleave="nameOnLeave(this)" src="assets/images/uploads/speaker/speakers4.jpg" alt="speakers3">
				<div id="spk4" class="text">Michael Scottfield</div>
			</div>
		</div>
		<!--		 item 5-->
		<div style="height: fit-content" class="speaker-grid-1__item">
			<div class="detail-direction">
				<img id="img5" style="height: 450px;width: 300px;margin: 20px" onmouseover="nameOnHover(this)" onmouseleave="nameOnLeave(this)" src="assets/images/uploads/speaker/speakers5.jpg" alt="speakers5">
				<div id="spk5" class="text">Layla Johnson</div>
			</div>
		</div>
		<!--		 item 6-->
		<div style="height: fit-content" class="speaker-grid-1__item">
			<div class="detail-direction">
				<img id="img6" style="height: 450px;width: 300px;margin: 20px" onmouseover="nameOnHover(this)" onmouseleave="nameOnLeave(this)" src="assets/images/uploads/speaker/speakers6.jpg" alt="speakers6">
				<div id="spk6" class="text">Daniel Bryan</div>
			</div>
		</div>
		<!--		 item 8-->
		<div style="height: fit-content" class="speaker-grid-1__item">
			<div class="detail-direction">
				<img id="img8" style="height: 450px;width: 300px;margin: 20px" onmouseover="nameOnHover(this)" onmouseleave="nameOnLeave(this)" src="assets/images/uploads/speaker/speakers8.jpg" alt="speakers8">
				<div id="spk8" class="text">Jennifer Han</div>
			</div>
		</div>
		<!--		 item 7-->
		<div style="height: fit-content" class="speaker-grid-1__item">
			<div class="detail-direction">
				<img id="img7" style="height: 450px;width: 300px;margin: 20px" onmouseover="nameOnHover(this)" onmouseleave="nameOnLeave(this)" src="assets/images/uploads/speaker/speakers7.jpg" alt="speakers7">
				<div id="spk7" class="text">Brie Larson</div>
			</div>
		</div>
		<!--		 item 9-->
		<div style="height: fit-content" class="speaker-grid-1__item">
			<div class="detail-direction">
				<img id="img9" style="height: 450px;width: 300px;margin: 20px" onmouseover="nameOnHover(this)" onmouseleave="nameOnLeave(this)" src="assets/images/uploads/speaker/speakers9.jpg" alt="speakers9">
				<div id="spk9" class="text">Jennifer Lawrence</div>
			</div>
		</div>
		<!--		 item 10-->
		<div style="height: fit-content" class="speaker-grid-1__item">
			<div class="detail-direction">
				<img id="img10" style="height: 450px;width: 300px;margin: 20px" onmouseover="nameOnHover(this)" onmouseleave="nameOnLeave(this)" src="assets/images/uploads/speaker/speakers10.jpg" alt="speakers10">
				<div id="spk10" class="text">Tyler Scottfield</div>
			</div>
		</div>
		<!--		 item 11-->
		<div style="height: fit-content" class="speaker-grid-1__item">
			<div class="detail-direction">
				<img id="img11" style="height: 450px;width: 300px;margin: 20px" onmouseover="nameOnHover(this)" onmouseleave="nameOnLeave(this)" src="assets/images/uploads/speaker/speakers11.jpg" alt="speakers11">
				<div id="spk11" class="text">Travis Scott</div>
			</div>
		</div>
		<!--		 item 12-->
		<div style="height: fit-content" class="speaker-grid-1__item">
			<div class="detail-direction">
				<img id="img12" style="height: 450px;width: 300px;margin: 20px" onmouseover="nameOnHover(this)" onmouseleave="nameOnLeave(this)" src="assets/images/uploads/speaker/speakers12.jpg" alt="speakers12">
				<div id="spk12" class="text">Bob Marley</div>
			</div>
		</div>
		<!--		 item 13-->
		<div style="height: fit-content" class="speaker-grid-1__item">
			<div class="detail-direction">
				<img id="img13" style="height: 450px;width: 300px;margin: 20px" onmouseover="nameOnHover(this)" onmouseleave="nameOnLeave(this)" src="assets/images/uploads/speaker/speakers13.jpg" alt="speakers13">
				<div id="spk13" class="text">Katy Perry</div>
			</div>
		</div>
		<!--		 item 14-->
		<div style="height: fit-content" class="speaker-grid-1__item">
			<div class="detail-direction">
				<img id="img14" style="height: 450px;width: 300px;margin: 20px" onmouseover="nameOnHover(this)" onmouseleave="nameOnLeave(this)" src="assets/images/uploads/speaker/speakers14.jpg" alt="speakers14">
				<div id="spk14" class="text">Luke Peterson</div>
			</div>
		</div>

	</div>
</section>




<%- include('components/footer') -%>

<%- include('components/corejs') -%>

</body>

</html>