<!DOCTYPE html>
<html lang="en">
	<head>
		<meta
			http-equiv="content-type"
			content="text/html; charset=ISO-8859-1"
		/>
		<meta
			content="width=device-width; initial-scale=1.0; maximum-scale=1.0;  user-scalable=0;"
			name="viewport"
		/>
		<%- include('components/meta') -%>
		<title>AYKYA</title>
		<%- include('components/corecss') -%>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body style="margin: 0px">
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="index"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a href="#" class="header__buy-ticket">
						<span>BUY TICKETS</span>
					</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>
		<section style="background-color: black; min-height: 100vh">
			<div class="container">
				<div class="speaker-grid-2">
					<div class="speaker-grid-2__item wow fadeInRight">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									class="imgRsp"
									src="/assets/images/members/aravind_balajyothi.jpg"
									alt="Aravind Balajyothi"
								/>
								<h4 style="color: white">Aravind Balajyothi</h4>
								<br />
								<p style="color: white; font-size: 17px">
									Management Team
								</p>
							</div>
						</div>
					</div>
					<div class="speaker-grid-2__item wow fadeInLeft">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="/assets/images/members/arjun.jpg"
									alt="Arjun Vijayakumar"
								/>
							</div>
							<h4 style="color: white">Arjun Vijayakumar</h4>
							<br />
							<p style="color: white; font-size: 17px">
								Management Team
							</p>
						</div>
					</div>
					<div class="speaker-grid-2__item wow fadeInRight">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="/assets/images/members/neeraja.jpg"
									alt="Neeraja Praveen"
								/>
							</div>
							<h4 style="color: white">Neeraja Praveen</h4>
							<br />
							<p style="color: white; font-size: 17px">
								Management Team
							</p>
						</div>
					</div>
					<div class="speaker-grid-2__item wow fadeInLeft">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="/assets/images/members/sreehari.jpg"
									alt="Sreehari A Pillai"
								/>
							</div>
							<h4 style="color: white">Sreehari A Pillai</h4>
							<br />
							<p style="color: white; font-size: 17px">
								Management Team
							</p>
						</div>
					</div>
					<div class="speaker-grid-2__item wow fadeInRight">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="/assets/images/members/aravind_nair.jpg"
									alt="Aravind V. Nair"
								/>
							</div>
							<h4 style="color: white">Aravind V. Nair</h4>
							<br />
							<p style="color: white; font-size: 17px">
								Technical Team
							</p>
						</div>
					</div>
					<div class="speaker-grid-2__item wow fadeInLeft">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="/assets/images/members/kumarkoushik.jpg"
									alt="Kumarkoushik Telaprolu"
								/>
							</div>
							<h4 style="color: white">Kumarkoushik Telaprolu</h4>
							<br />
							<p style="color: white; font-size: 17px">
								Technical Team
							</p>
						</div>
					</div>
					<div class="speaker-grid-2__item wow fadeInRight">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="/assets/images/members/lakshmi.jpg"
									alt="P H Lakshmi"
								/>
							</div>
							<h4 style="color: white">P H Lakshmi</h4>
							<br />
							<p style="color: white; font-size: 17px">
								Technical Team
							</p>
						</div>
					</div>
					<div class="speaker-grid-2__item wow fadeInLeft">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="/assets/images/members/vignesh.jpg"
									alt="P Vignesh"
								/>
							</div>
							<h4 style="color: white">P Vignesh</h4>
							<br />
							<p style="color: white; font-size: 17px">
								Technical Team
							</p>
						</div>
					</div>
					<div class="speaker-grid-2__item wow fadeInRight">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="/assets/images/members/karthika.jpg"
									alt="Karthika Vinod"
								/>
							</div>
							<h4 style="color: white">Karthika Vinod</h4>
							<br />
							<p style="color: white; font-size: 17px">
								Cultural Team
							</p>
						</div>
					</div>
					<div class="speaker-grid-2__item wow fadeInLeft">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="/assets/images/members/sanath.jpg"
									alt="Sanath Potnuru"
								/>
							</div>
							<h4 style="color: white">Sanath Potnuru</h4>
							<br />
							<p style="color: white; font-size: 17px">
								Cultural Team
							</p>
						</div>
					</div>
					<div class="speaker-grid-2__item wow fadeInRight">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="/assets/images/members/madhumitha.jpg"
									alt="Madhumitha S"
								/>
							</div>
							<h4 id="div1" style="color: white">Madhumitha S</h4>
							<br />
							<p style="color: white; font-size: 17px">
								Marketing Team
							</p>
						</div>
					</div>
					<div class="speaker-grid-2__item wow fadeInLeft">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="/assets/images/members/srivikas.jpg"
									alt="Srivikas Tadikamalla"
								/>
							</div>
							<h4 id="div1" style="color: white">
								Srivikas Tadikamalla
							</h4>
							<br />
							<p style="color: white; font-size: 17px">
								Marketing Team
							</p>
						</div>
					</div>
					<div class="speaker-gutter-sizer"></div>
				</div>
			</div>
		</section>
		<%- include('components/footer') -%> <%- include('components/corejs')
		-%>
	</body>
</html>
