<!DOCTYPE html>
<html lang="en">
	<head>
		<meta
			http-equiv="content-type"
			content="text/html; charset=ISO-8859-1"
		/>
		<meta
			content="width=device-width; initial-scale=1.0; maximum-scale=1.0;  user-scalable=0;"
			name="viewport"
		/>
		<%- include('components/meta') -%>
		<title>AYKYA</title>
		<%- include('components/corecss') -%>
		<!-- Link Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		/>

		<!-- Link Bootstrap JS and JQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body style="margin: 0px">
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="index"
							><img src="../assets/images/logo.png" alt="logo"
						/></a>
					</div>

					<a href="#" class="header__buy-ticket">
						<span>BUY TICKETS</span>
					</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section style="background-color: black; min-height: 100vh;">
			<div class="container">
				<div class="speaker-grid-2">
					<!--speaker 1-->

					<div class="speaker-grid-2__item wow fadeInLeft">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									class="imgRsp"
									src="../assets/images/members/aravind.jpg"
									alt="Aravind"
								/>

								<h4 style="color: white">Aravind</h4>
								<br>
								<p style="color: white;font-size: 17px">Management Team Head</p>
							</div>
						</div>
					</div>
					<div class="speaker-gutter-sizer"></div>

					<!--speaker 2-->

					<div class="speaker-grid-2__item wow fadeInRight">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="../assets/images/members/arjun.jpg"
									alt="Arjun"
								/>
							</div>
							<h4 style="color: white">Arjun</h4>
							<br>
							<p style="color: white;font-size: 17px">Management Team Head</p>
						</div>
					</div>
					<!--			<div class="speaker-gutter-sizer"></div>-->

					<!--speaker 3-->

					<div class="speaker-grid-2__item wow fadeInRight">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
										src="../assets/images/members/neeraja.jpg"
										alt="Arjun"
								/>
							</div>
							<h4 style="color: white">Neeraja</h4>
							<br>
							<p style="color: white;font-size: 17px">Management Team Head</p>
						</div>
					</div>

					<!--speaker 3-->

					<div class="speaker-grid-2__item wow fadeInRight">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
										src="../assets/images/members/sreehari.jpg"
										alt="Arjun"
								/>
							</div>
							<h4 style="color: white">Sree Hari</h4>
							<br>
							<p style="color: white;font-size: 17px">Management Team Head</p>
						</div>
					</div>

					<!--speaker 4-->

					<div class="speaker-grid-2__item wow fadeInLeft">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="../assets/images/members/karthika.jpg"
									alt="Karthika"
								/>
							</div>
							<h4 style="color: white">Karthika</h4>
							<br>
							<p style="color: white;font-size: 17px">Cultural Team Head</p>
						</div>
					</div>

					<!--speaker 5-->

					<div class="speaker-grid-2__item wow fadeInRight">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
										src="../assets/images/members/sanath.jpg"
										alt="Sanath"
								/>
							</div>
							<h4 style="color: white">Sanath</h4>
							<br>
							<p style="color: white;font-size: 17px">Cultural Team Head</p>
						</div>
					</div>

					<!--speaker 6-->

					<div class="speaker-grid-2__item wow fadeInRight">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="../assets/images/members/koushik.jpg"
									alt="Koushik"
								/>
							</div>
							<h4 style="color: white">Koushik</h4>
							<br>
							<p style="color: white;font-size: 17px">Technical Team Head</p>
						</div>
					</div>

					<!--speaker 7-->

					<div class="speaker-grid-2__item wow fadeInLeft">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="../assets/images/members/lakshmi.jpg"
									alt="Lakshmi"
								/>
							</div>
							<h4 style="color: white">Lakshmi</h4>
							<br>
							<p style="color: white;font-size: 17px">Technical Team Head</p>
						</div>
					</div>


					<!--speaker 8-->

					<div class="speaker-grid-2__item wow fadeInLeft">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="../assets/images/members/vignesh.jpg"
									alt="Vignesh"
								/>
							</div>
							<h4 style="color: white">Vignesh</h4>
							<br>
							<p style="color: white;font-size: 17px">Technical Team Head</p>
						</div>
					</div>

					<!--speaker 9-->

					<div class="speaker-grid-2__item wow fadeInRight">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
										src="../assets/images/members/madhumitha.jpg"
										alt="Vikas"
								/>
							</div>
							<h4 id="div1" style="color: white">Madhumitha</h4>
							<br>
							<p style="color: white;font-size: 17px">Marketing Team Head</p>
						</div>
					</div>

					<!--speaker 10-->

					<div class="speaker-grid-2__item wow fadeInRight">
						<div class="speaker-grid-2__item__thumb">
							<div class="speaker-grid-2__item__thumb__overflow">
								<img
									src="../assets/images/members/vikas.jpg"
									alt="Vikas"
								/>
							</div>
							<h4 id="div1" style="color: white">Vikas(Alumni)</h4>
							<br>
							<p style="color: white;font-size: 17px">Marketing Team Head</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('components/footer') -%> <%- include('components/corejs')
		-%>
	</body>
</html>
