<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/meta') -%>
    <title>AYKYA</title>
    <%- include('components/corecss') -%>
</head>
<body>
<%- include('components/header') -%>
<section class="header-posistion"></section>
<%- include('components/nav') -%>
<%- include('components/loading') -%>

<section>
    <div class="contact-info">
        <div class="container">
            <div class="contact__tittle">
                <h1>Register</h1>
            </div>
            <h4 style="text-align: center">
                Are you a University Student or School Student?
            </h4>

            <div style="margin-top: 30px;padding-bottom: 50px" class="d-flex justify-content-center">



                <button style="margin-right: 10px;" onclick="popup('aykya-2020-rising-together-201130');" class="tsbutton" >University Student</button><noscript id="tsNoJsMsg">Javascript
                    on your browser is not enabled.</noscript>
                <script src="//www.townscript.com/popup-widget/townscript-widget.nocache.js"
                        type="text/javascript"></script>

                <button style="margin-left: 10px" onclick="popup('aykya-2020-rising-together-for-school-students-142004');" class="tsbutton">School Student</button><noscript id="tsNoJsMsg">Javascript
                    on your browser is not enabled.</noscript>
                <script src="//www.townscript.com/popup-widget/townscript-widget.nocache.js"
                        type="text/javascript"></script>

            </div>


        </div>
    </div>
</section>

<!--<%- include('components/sponsors') -%>-->
<%- include('components/footer') -%> <%- include('components/corejs')
-%>
</body>
</html>
