<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('components/meta') -%>
		<title>AYKYA</title>
		<%- include('components/corecss') -%>
	</head>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a href="#" class="header__buy-ticket">
						<span>Register</span>
					</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="extra-container">
				<div class="schedule__tittle">
					<h1>Events Schedule</h1>
				</div>
			</div>
			<div class="container">
				<div class="schedule-tab">
					<div class="schedule-tab__item tab-active" data-tab="tab-1">
						<h2>Management Events</h2>
						<!-- <p>Monday, 26th Dec</p> -->
					</div>
					<div class="schedule-tab__item" data-tab="tab-2">
						<h2>Cultural Events</h2>
						<!-- <p>Tuesday, 27th Dec</p> -->
					</div>
					<div class="schedule-tab__item" data-tab="tab-3">
						<h2>Technical Events</h2>
						<!-- <p>Wednesday, 28th Dec</p> -->
					</div>
				</div>

				<!--//////////////////// Start of Management events schedule /////////////////////////////////// -->
				<div id="tab-1" class="schedule-table tab-current">
					<!--//////////////////// Start of Pre Events of Management events /////////////////////////////////// -->
					<div class="break-time wow flipInX">
						<div style="text-align: center" class="row">
							<div class="col-12 d-flex justify-content-center align-items-center">
								<div
									class="break-time__coffee"
								>
									<h3>
										Pre-Events
									</h3>
								</div>
							</div>
						</div>
					</div>

					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__greating"
							>
								<h3>3/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__greating schedule-table__greating--event"
							>
								<h3>Visleshana 2.0</h3>
								<p>Round 1 (Quiz)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>7:00PM - 8:00PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>4/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Pitch Peak</h3>
								<p>Round 1 (Video and PPT submission)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>Before 5:00PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- info row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>5/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Business Mavericks</h3>
								<p>Round 1 (Report Submission)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>Before 12:00 AM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//////////////////// End of Prevents of Management events schedule /////////////////////////////////// -->

					<!--//////////////////// Start of Day 1 Management events schedule /////////////////////////////////// -->
					<div class="break-time wow flipInX">
						<div style="text-align: center" class="row">
							<div class="col-12 d-flex justify-content-center align-items-center">
								<div class="break-time__coffee">
									<h3									>
										Day 1
									</h3>
								</div>
							</div>
						</div>
					</div>
					<!-- info row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>6/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Trade O Mania</h3>
								<p>Round 1 (Quiz)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>6:00PM - 7:00PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//////////////////// End of Day 1 Management events schedule /////////////////////////////////// -->

					<!--//////////////////// Start of Day 2 Management events schedule /////////////////////////////////// -->
					<div class="break-time wow flipInX">
						<div style="text-align: center" class="row">							
							<div class="col-12 d-flex justify-content-center align-items-center">
								<div class="break-time__coffee">
									<h3>
										Day 2
									</h3>
								</div>
							</div>
						</div>
					</div>
					<!-- info row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Visleshana 2.0</h3>
								<p>Round 2 (Report Submission)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>Before 10:00AM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- info row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>SCOPE</h3>
								<p>Round 1 (Quiz)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>4:00PM - 4:30PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- info row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>SCOPE</h3>
								<p>Round 2 ( Numerical Problem)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>5:30PM - 6:30PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- info row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Trade O Mania</h3>
								<p>Round 2 (Virtual Market Trading)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>10:00AM - 1:00PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- info row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Trade O Mania</h3>
								<p>Round 2 (Presentation)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>4:00PM - 7:00PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- info row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Pitch Peak</h3>
								<p>Round 2 (Presentation)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>10:00AM - 1:00PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//////////////////// End of Day 2 Management events schedule /////////////////////////////////// -->

					<!--//////////////////// Start of Day 3 Management events schedule /////////////////////////////////// -->
					<div class="break-time wow flipInX">
						<div style="text-align: center" class="row">							
							<div class="col-12 d-flex justify-content-center align-items-center">
								<div class="break-time__coffee">
									<h3>
										Day 3
									</h3>
								</div>
							</div>
						</div>
					</div>
					<!-- info row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>8/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Visleshana 2.0</h3>
								<p>Round 3 ( Presentation)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>3:00PM - 6:00PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>8/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>SCOPE</h3>
								<p>Round 3 (Debate)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>10:00AM - 12:30PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>8/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>SCOPE</h3>
								<p>Round 4 ( Case Study)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>2:00PM - 5:00PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>8/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Trade O Mania</h3>
								<p>Round 3 ( Actual Market Trading)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>9:00AM - 3:30PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__end"
							>
								<h3>8/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__end schedule-table__end--event"
							>
								<h3>Pitch Peak</h3>
								<p>Round 3 (Pitching Competition)</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__end">
									<div class="schedule-table__speaker__name">
										<h3>10:00AM - 1:00PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//////////////////// End of Day 3 Management events schedule /////////////////////////////////// -->
				</div>
				<!--//////////////////// End of Management events schedule /////////////////////////////////// -->

				<!--//////////////////// Start of Cultural events schedule /////////////////////////////////// -->
				<div id="tab-2" class="schedule-table">
					<!--//////////////////// Start of Throughout 3 days of Cultural events schedule /////////////////////////////////// -->
					<div class="break-time wow flipInX">
						<div class="row">
							<div class="col-12 d-flex justify-content-center align-items-center">
								<div class="break-time__coffee">
									<h3>Throughout 3 days</h3>
								</div>
							</div>
						</div>
					</div>

					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__greating"
							>
								<h3>6th to 8th November</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__greating schedule-table__greating--event"
							>
								<h3>Art Gallery</h3>
								<p>On the Aykya official website</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>Whole day</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>6th to 8th November</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3><a href="/eventRegTemplate">Best Foot Forward</a></h3>
								<p>On Instagram</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>Whole day</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//////////////////// End of Throughout 3 days of Cultural events schedule /////////////////////////////////// -->

					<!--//////////////////// Start of Day 1 of Cultural events schedule /////////////////////////////////// -->
					<div class="break-time wow flipInX">
						<div class="row">
							<div class="col-12 d-flex justify-content-center align-items-center">
								<div class="break-time__coffee">
									<h3>Day 1</h3>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>6/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Conquer The Squares</h3>
								<p>On Lichess</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>3pm to 5 pm</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>6/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Open Mic - Comedy</h3>
								<p>On Instagram</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>5pm to 6pm</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//////////////////// End of Day 1 of Cultural events schedule /////////////////////////////////// -->

					<!--//////////////////// Start of Day 2 of Cultural events schedule /////////////////////////////////// -->
					<div class="break-time wow flipInX">
						<div class="row">
							<div class="col-12 d-flex justify-content-center align-items-center">
								<div class="break-time__coffee">
									<h3>Day 2</h3>
								</div>
							</div>
						</div>
					</div>

					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Shipwreck</h3>
								<p>On Instagram</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>10 am to 12 pm</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Open Mic - Mmusic</h3>
								<p>On instagram</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>5pm to 6pm</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//////////////////// End of Day 2 of Cultural events schedule /////////////////////////////////// -->

					<!--//////////////////// Start of Day 3 of Cultural events schedule /////////////////////////////////// -->
					<div class="break-time wow flipInX">
						<div class="row">
							<div class="col-12 d-flex justify-content-center align-items-center">
								<div class="break-time__coffee">
									<h3>Day 3</h3>
								</div>
							</div>
						</div>
					</div>

					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>8/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Battle Of The Bands</h3>
								<p>On Zoom</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>10 am to 12 pm</h3>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__end"
							>
								<h3>8/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__end schedule-table__end--event"
							>
								<h3>Open Mic- Talk On A Topic</h3>
								<p>On Instagram</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__end">
									<div class="schedule-table__speaker__name">
										<h3>5pm to 6pm</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//////////////////// End of Day 3 of Cultural events schedule /////////////////////////////////// -->
				</div>
				<!--//////////////////// End of Cultural events schedule /////////////////////////////////// -->

				<!--//////////////////// Start of Technical events schedule /////////////////////////////////// -->
				<div id="tab-3" class="schedule-table">
					<!--//////////////////// Start of Day 1 of Technical events schedule /////////////////////////////////// -->
					<div class="break-time wow flipInX">
						<div class="row">
							<div class="col-12 d-flex justify-content-center align-items-center">
								<div class="break-time__coffee">
									<h3>Day 1</h3>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>6/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Cloud Computing</h3>
								<p>
									Session I - Basics of Cloud Computing and
									Amazon AWS
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>10:00 AM - 1:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>6/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Chatbots</h3>
								<p>
									Session I - Building Interactive AI Chatbots
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>1:00 PM- 4:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>6/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Mental Health</h3>
								<p>Session I - Mental Health</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>4:00 PM - 5:30 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>6/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Business Analytics</h3>
								<p>Business Analytics</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>5:30 PM - 7:30 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>6/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Simulink</h3>
								<p>Demo on Simulink by Mathworks</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>1:00 PM - 5:30 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//////////////////// End of Day 1 of Technical events schedule /////////////////////////////////// -->

					<!--//////////////////// Start of Day 2 of Technical events schedule /////////////////////////////////// -->
					<div class="break-time wow flipInX">
						<div class="row">
							<div class="col-12 d-flex justify-content-center align-items-center">
								<div class="break-time__coffee">
									<h3>Day 2</h3>
								</div>
							</div>
						</div>
					</div>

					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Cloud Computing</h3>
								<p>
									Session II - Basics of Cloud Computing and
									Amazon AWS
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>10:00 AM - 1:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Chatbots</h3>
								<p>
									Session II - Building Interactive AI
									Chatbots
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>1:00 PM - 4:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Natural Language Processing</h3>
								<p>
									Natural Language Processing and its
									applications
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>5:30 PM - 7:30 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>GAMING</h3>
								<p>Valorant</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>7:30 PM - 11:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Mental Health</h3>
								<p>Session II - Mental Health</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>10:00 AM - 12:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Blockchain</h3>
								<p>
									Blockchain for Renewable Energy in the 21st
									Century
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>4:00 PM - 8:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Competition</h3>
								<p>Curb the disease - What can YOU do?</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>4:00 PM - 7:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Hackathon - COM</h3>
								<p>COM</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>12:00 PM - 12:00 AM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>7/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>VLSI</h3>
								<p>Business aspects of VLSI</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>12:00 PM - 1:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//////////////////// End of Day 2 of Technical events schedule /////////////////////////////////// -->

					<!--//////////////////// Start of Day 3 of Technical events schedule /////////////////////////////////// -->
					<div class="break-time wow flipInX">
						<div class="row">
							<div class="col-12 d-flex justify-content-center align-items-center">
								<div class="break-time__coffee">
									<h3>Day 3</h3>
								</div>
							</div>
						</div>
					</div>

					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>8/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Workshop</h3>
								<p>
									Workshop on Technical and Management
									students by TEM IEEE CHAPTER
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>10:00 AM - 1:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>8/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Hackathon</h3>
								<p>COM</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>12:00 AM - 12:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>8/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Competition</h3>
								<p>Ramanujan to Sherlock</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>3:00 PM - 6:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>8/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Chatbots</h3>
								<p>
									Session III - Building Interactive AI
									Chatbots
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>10 am to 12 pm</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>8/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Webinar</h3>
								<p>
									Future Opportunities for ECE engineers to
									explore
								</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>4:00 PM - 5:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- greating row 1st -->
					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__info"
							>
								<h3>8/11/20</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__info schedule-table__info--event"
							>
								<h3>Webinar</h3>
								<p>Astrophotography</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__info">
									<div class="schedule-table__speaker__name">
										<h3>5:00 PM - 6:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row wow flipInX">
						<div class="col-lg-3 col-sm-5">
							<div
								class="schedule-table__time schedule-table__end"
							>
								<h3>8/11/2020</h3>
							</div>
						</div>
						<div class="col-lg-6 col-sm-7">
							<div
								class="schedule-table__event schedule-table__end schedule-table__end--event"
							>
								<h3>Webinar</h3>
								<p>6sigma and lean techniques for engineers</p>
							</div>
						</div>
						<div class="col-lg-3 col-sm-12">
							<div class="schedule-table__speaker">
								<div class="schedule-table__speaker__end">
									<div class="schedule-table__speaker__name">
										<h3>6:00 PM- 7:00 PM</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--//////////////////// Start of Day 2 of Technical events schedule /////////////////////////////////// -->
				</div>
				<!--//////////////////// End of Technical events schedule /////////////////////////////////// -->
			</div>
		</section>

		<%- include('components/footer') -%> <%- include('components/corejs')
		-%>
	</body>
</html>
