<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('components/meta') -%>
	<title>AYKYA</title>
	<%- include('components/corecss') -%>
</head>

<body>
	<header id="header-trans" class="header-trans-1">
		<div class="extra-container ">
			<div class="header-2 ">
				<div class="header__menu-icon">
					<div class="header__menu-icon__dot ">
						<span></span>
						<span></span>
					</div>
					<div class="header__menu-icon__dot header__menu-icon__dot--vertical">
						<span></span>
						<span></span>
					</div>
					<div class="header__menu-icon__dot header__menu-icon__dot--skew">
						<span></span>
						<span></span>
					</div>
					<div class="header__menu-icon__dot header__menu-icon__dot--skew-reverse">
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="position-fixed"></div>
				<div class="header__logo">
					<a href="index"><img src="assets/images/logo.png" alt="logo"></a>
				</div>

				<a href="#" class="header__buy-ticket ">
					<span>BUY TICKETS</span>
				</a>
			</div>
		</div>
	</header>
	<section class="header-posistion"></section>
	<%- include('components/nav') -%>
	<div class="loading">
		<div class="sp sp-3balls"></div>
	</div>

	<div class="extra-container">
		<div class="UpcomingEvents_title">
			<h1>Upcoming Events</h1>
		</div>
	</div>
	<section>
		<div class="Event-cards">
			<div class="Event-card_1">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="Event-card-img">
								<img src="assets/images/uploads/blog/blogthumb2.jpg">
							</div>
						</div>
						<div class="col-md-8 Event-card-content">
							<div class="Event-card_title">
								<h2>
									Card Title
								</h2>
							</div>
							<div class="Event-card-text">
								<p>
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto accusamus, eos fugiat
									quaerat fuga saepe asperiores vel eius libero, quas dicta tenetur harum autem ad quam
									repellendus natus sequi obcaecati.
								</p>
							</div>
							<div class="Event-tickets">
								<a href="#" class="tickets">Registration</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="Event-card_2">
				<div class="container">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid inventore reprehenderit nostrum
					omnis consequuntur sapiente, repellendus soluta incidunt. Culpa, est fuga. Asperiores amet voluptas
					molestias! Ad ducimus dolor quae quibusdam.
					Fuga tempore iure tempora facere dolorem iste blanditiis eos voluptates, molestias maiores ipsa
					eaque quia. Eius placeat ad ullam temporibus, exercitationem officiis fugit voluptatum neque? Amet
					optio culpa accusantium dicta.
					Asperiores cupiditate aliquid voluptatem incidunt quia unde eos, officia eveniet consequatur error!
					Enim necessitatibus laboriosam nobis provident ratione quas numquam non architecto laborum
					voluptate. Neque perferendis sit repellendus nam esse.
					Nulla dolor consequatur voluptas necessitatibus quia consectetur voluptatibus quasi, placeat beatae
					porro soluta fugiat nobis corporis vel quos. Quae adipisci natus harum enim impedit nemo voluptates
					fugit, laudantium ullam necessitatibus.
					Modi voluptatibus animi aliquid quisquam dolor, quibusdam, ad, porro repudiandae iusto nostrum
					placeat quod rerum. Nulla accusamus magnam nesciunt, doloribus dignissimos error quos? Saepe
					recusandae, aspernatur harum sapiente quia magni!
					Nobis consectetur quo commodi. Ratione nam laudantium odit fuga, eius iste iusto rerum. Debitis quod
					amet, nihil sed incidunt aliquid exercitationem sapiente dicta, cum dolor doloribus possimus
					accusamus. Quo, quam?
				</div>
			</div>
		</div>
	</section>
	<%- include('components/footer') -%>

	<%- include('components/corejs') -%>

</body>

</html>