<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a href="#" class="header__buy-ticket">
						<span>Register</span>
					</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/technicalEvents/arivu.jpg"
							alt="Arivu - Become Aware"
						/>
					</div>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 6<sup
								>th</sup
							>
							November 2020 , 7<sup>th</sup> November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i> 4:00 PM - 5:30 PM and
							10:00 AM - 12:00 PM</span
						>
					</div>
					<h4 style="color: aliceblue">ARIVU - Become aware</h4>
					<div class="blog-single-content__paragraph">
						<p style="font-size: larger">
							<b>Speakers:</b><br />
							MS. Jayanthi R. Prasad,
							<br />
							Psychotherapist
							<br />
							<br /><br />
							<b>Day one</b> <br />
							1) Understanding self:- Become aware of your
							limitless potential.<br />
							2) Plan A, B, C:- How to plan.<br /><br />
							<b>Day two</b><br />
							3) Manage Relationships. ( Parents, friends and
							partners ) <br />
							4) Others opinion:- how does it matter

							<br />
							<br />
							<b>Entry Fee: </b>&#x20B9; 75(This money taken as
							registration fee will be donated to a good cause,
							pertaining to the theme)
							<br />
							<b>Contact:</b>
							<a class="contact-info__link" href="#">
								<img
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span
									style="
										color: white;
										filter: brightness(400%) contrast(100%);
									"
								>
									Lakshmi P H: +91 72592 83492</span
								>
							</a>
							<br /><br />
						</p>
						<p style="font-size: larger">
							<b>Entry for :</b>
							B.tech, M.tech, MBA and all individuals who want to
							explore the essence behind understanding oneself and
							others.
							<br />
							<br />
							<b>Deadline for registration:</b> TBA<br /><br />
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/chatBot"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Chatbots</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/workshopOnML"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Business Analytics</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
