<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%> <%-
		include('../components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/technicalEvents/arivu.jpg"
							alt="Arivu - Become Aware"
						/>
					</div>
					<h4 class="blogHeader">ARIVU - Become aware</h4>
					<div class="blog-single-content__paragraph">
						<b>Speakers:</b>MS. Jayanthi R. Prasad, Psychotherapist
						<br /><br />
						<h4 class="blogSubHeading">Day 1</h4>
						<div class="blog-single-content__time">
							<span
								><i class="far fa-calendar-check"></i>
								6<sup>th</sup>November 2020</span
							>
							<br />
							<span
								><i class="far fa-clock"></i> 4:00 PM - 5:30
								PM</span
							>
						</div>

						<div>
							<ul class="listClass">
								<li>
									Understanding self:- Become aware of your
									limitless potential
								</li>
								<li>Plan A, B, C:- How to plan.</li>
							</ul>
						</div>
						<br />

						<h4 class="blogSubHeading">Day 2</h4>
						<div class="blog-single-content__time">
							<span
								><i class="far fa-calendar-check"></i> 7<sup
									>th</sup
								>
								November 2020</span
							>
							<br />
							<span
								><i class="far fa-clock"></i> 10:00 AM - 12:00
								PM</span
							>
						</div>

						<div>
							<ul class="listClass">
								<li>
									Manage Relationships. ( Parents, friends and
									partners )
								</li>
								<li>Others opinion:- how does it matter</li>
							</ul>
						</div>

						<p>
							<br />
							<b>Entry Fee:</b> &#x20B9; 75(This money taken as
							registration fee will be donated to a good cause,
							pertaining to the theme)
							<br />
							<b>Contact:</b>
							<span class="contact-info__link">
								<img
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									Lakshmi P H: +91 72592 83492</span
								>
							</span>
							<br />
						</p>

						<p>
							<b>Entry for :</b>
							B.tech, M.tech, MBA and all individuals who want to
							explore the essence behind understanding oneself and
							others.
							<br />
							<br />
							<b>Deadline For Registration: </b
							><span> 2<sup>nd</sup>November 2020</span>
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/chatBots"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Chatbots</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/workshopOnML"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Workshop on ML</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
