<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>


	<body>
		<%- include('components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<%- include('components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb poster-item">
						<img
							src="assets/images/eventPosters/culturalEvents/artgallery.png"
							alt="Art gallery"
						/>
					</div>
					<h4 class="blogHeader">Art Gallery</h4>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i>6<sup>th</sup>
							- 8<sup>th</sup> November 2020</span
						>
						<br />
						<span><i class="far fa-clock"></i>Whole Day</span>
					</div>
					<div class="blog-single-content__paragraph">
						<p>
							Feel the artist speaking through the ages in the language of the soul through the art gallery on
							Instagram.
							<br>
							You will be Provided with a few themes on which you have to base your art. It can be sketches,
							drawings, paintings or even photography! You will be judged on your creativity by our esteemed
							panel of judges. Let your creative mind speak and you could win this competition!
							<br>

							Contact

							<br>
							<b>Aykya's official Instagram account:</b>
							<a href="https://instagram.com/aykya2020">
								<i
										class="fab fa-instagram fa-2x"
										style="
										color: white;
										padding: 2px 2px;
										font-size: 20px;
									"
								></i>
							</a>
							<br />

							to send in your artwork and we’ll put it on display and
							you can get featured.
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						></div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/bestFootForward"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next
									<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Best Foot Forward</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
