<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb poster-item">
						<img
							src="assets/images/eventPosters/culturalEvents/battle of bands.png"
							alt="Battle of Bands"
						/>
					</div>
					<h4 class="blogHeader">Battle Of The Bands</h4>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i>8<sup>th</sup>
							November 2020</span
						>
						<br />
						<span><i class="far fa-clock"></i>10 am - 12 pm</span>
					</div>

					<div class="blog-single-content__paragraph">
						<p >
							Battle of Bands, is a competition for all the bands
							out there, they will have to make a small set and
							perform on it, from the comfort of their home and
							edit it together and send it to us.<br />
							Register through Google forms and transcend the
							everyday monotony to make this day a new journey of
							sounds through Zoom on under the panel of judges.
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/openMicMusic"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Open Mic - Music</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/openMicTalk"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next
									<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Open Mic - Talk On A Topic</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
