<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<script>
		function topFunction() {
			window.scrollTo(0, 2000);
		}
	</script>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a
							href="https://payments.acrd.org.in/pay/event/blr2021001"
							class="header__buy-ticket"
							target="_blank"
							rel="noopener"
						>
							<span>Register</span>
						</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb poster-item">
						<img
							src="assets/images/eventPosters/culturalEvents/bestfootforward.png"
							alt="Best foot forward"
						/>
					</div>
					<h4 class="blogHeader">Best Foot Forward</h4>

					<div class="blog-single-content__time" >
						<span
							><i class="far fa-calendar-check"></i> 6<sup
								>th</sup
							>
							- 8<sup>th</sup> November 2020</span
						>
						<br />
						<span><i class="far fa-clock"></i> Whole Day</span>
					</div>
					<div class="blog-single-content__paragraph">
						<p >
							It's a virtual dance competition aimed at
							identifying the creativity within the choreography.
							<br />

							Participants will be given an audio clip of 15-30
							secs to which they have to choreograph.
							<br />

							The participants need to make an Instagram video and
							ping it to Aykya's official Instagram account:
							<a href="https://instagram.com/aykya2020">
								<i
									class="fab fa-instagram fa-2x"
									style="
										color: white;
										padding: 2px 2px;
										font-size: 20px;
									"
								></i>
							</a>
							<br /><br />

							<b>Reminder:</b> It's a <i>solo</i> event.

							<br /><br />
						</p>
						<p >
							<b>Rules And Regulations :</b>
							<br />
							<br />
							Participants need to consider the following
							constraints before submitting their entry:
							<br />
						</p>
						<br />
						<div>
							<ul
									class="listClass"
							>
								<li>
									No vulgarity in choreography and costume is
									accepted.
								</li>
								<li>
									No inclusion of political issues or any other
									controversial issues.
								</li>
							</ul>
						</div>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/artGallery"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Art Gallery</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/conquerTheSquares"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Conquer The Squares</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
