<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>Best Foot Forward</title>
		<meta
				name="description"
				content="It's a virtual dance competition aimed at
							identifying the creativity within the choreography."
		/>
		<meta property="og:title" content="Best Foot Forward" />
		<meta property="og:url" content="https://aykyamultifest.com/bestFootForward" />
		<meta
				property="og:description"
				content="It's a virtual dance competition aimed at
							identifying the creativity within the choreography."
		/>

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Event",
				"name": "Best Foot Forward",
				"startDate": "2020-11-6T00:00:00+05:30",
				"endDate": "2020-11-8T23:59+05:30",
				"eventStatus": "https://schema.org/EventScheduled",
				"eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
				"location": {
					"@type": "VirtualLocation",
					"url": "https://aykyamultifest.com/bestFootForward"
				},
				"image": [
					"/assets/images/eventPosters/technicalEvents/bestFootForward.jpg"
				],
				"description": "It's a virtual dance competition aimed at identifying the creativity within the choreography.",
				"performer": {
					"@type": "PerformingGroup",
					"name": ""
				},
				"organizer": {
					"@type": "Organization",
					"name": "Aykya",
					"url": "https://aykyamultifest.com"
				}
			}
		</script>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%> <%-
		include('../components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb poster-item">
						<img
							src="assets/images/eventPosters/culturalEvents/bestFootForward.jpg"
							alt="Best foot forward"
						/>
					</div>
					<h4 class="blogHeader">Best Foot Forward</h4>

					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 6<sup
								>th</sup
							>
							- 8<sup>th</sup> November 2020</span
						>
						<br />
						<span><i class="far fa-clock"></i> Whole Day</span>
					</div>
					<div class="blog-single-content__paragraph">
						<p>
							It's a virtual dance competition aimed at
							identifying the creativity within the choreography.
							<br />

							Participants will be given an audio clip of 15-30
							secs to which they have to choreograph.
							<br />
							<br />
							The participants need to make an Instagram video and
							ping it to
							<br />
							<b>Aykya's official Instagram account:</b>
							<a href="https://instagram.com/aykya2020">
								<i
									class="fab fa-instagram fa-2x"
									style="
										color: white;
										padding: 2px 2px;
										font-size: 20px;
									"
								></i>
							</a>
							<br /><br />

							<b>Reminder:</b> It's a <i>solo</i> event.

							<br /><br />
						</p>
						<p>
							<b>Rules And Regulations :</b>
							<br />
							<br />
							Participants need to consider the following
							constraints before submitting their entry:
							<br />
						</p>
						<br />
						<div>
							<ul class="listClass">
								<li>
									No vulgarity in choreography and costume is
									accepted.
								</li>
								<li>
									No inclusion of political issues or any
									other controversial issues.
								</li>
							</ul>
						</div>
						<p>
							<b>Register Here Using UPI:</b>

							<iframe
								src="https://docs.google.com/forms/d/1qQhJhor8qb5X34Aw6Ge8ly1-rksFi7kxEMB9p7YXwQ0/viewform?embedded=true"
								width="100%"
								height="1700"
								frameborder="0"
								marginheight="0"
								marginwidth="0"
								>Loading…</iframe
							>
							<br />
							<b
								>If you want to pay using credit or debit card,
								contact us at:</b
							>
							<span class="contact-info__link">
								<img
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									Aravind B J: +91 90745 65221</span
								>
							</span>
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/artGallery"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Art Gallery</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/conquerTheSquares"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Conquer The Squares</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
