<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a
							href="https://payments.acrd.org.in/pay/event/blr2021001"
							class="header__buy-ticket"
							target="_blank"
							rel="noopener"
						>
							<span>Register</span>
						</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/technicalEvents/blockChain.jpg"
							alt="Blockchain"
						/>
					</div>
					<h4 class="blogHeader">
						Blockchain for Renewable Energy in the 21st Century
					</h4>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 7<sup
								>th</sup
							>
							November 2020</span
						><br />
						<span
							><i class="far fa-clock"></i>4:00 PM - 8:00 PM
						</span>
					</div>

					<div class="blog-single-content__paragraph">
						<p >
							<b>Speakers:</b><br />
							Professor Dr.Anand.R,<br />
							Department of Electrical and Electronics, Amrita
							School of Engineering, Bangalore.<br /><br />
							Ever wondered about what is blockchain technology,
							what is the buzz around it and why it is important
							for us to know it? Well, we have all the answers
							ready for you in this wonderfully curated session on
							Blockchain for Renewable Energy. By the end of this
							session, you will have a blockchain project ready
							done all by yourself!<br><br>

							<b>Concepts: </b>
							Ethereum is a Platform, solidity tool. Using as an online Coding environment for a blockchain project. The program will run in Ethereum Virtual Machine


							<br /><br /><b>Pre-requisites:</b> Basic Programming
							skills<br />
							<br /><b>Platform: </b>MS TEAMS<br /><br />
							<b>Entry Fee: </b>&#x20B9; 199 <br />

							<br />

							<b>Entry for :</b>
							B.Tech and M.Tech(All branches)
							<br />
							<br>
							<b>Contact:</b>
							<a class="contact-info__link" href="#">
								<img
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span
									class="contactDetails"
								>
									Lakshmi P H: +91 72592 83492</span
								>
							</a>
							<br />
							<b>Deadline For Registration: </b><span> 2<sup>nd</sup>November 2020</span>

						</p>

					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/gameNite"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Gaming</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/curbTheDiseases"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Curb the Disease</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
