<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%> <%-
		include('../components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/managementEvents/businessMavericks.jpg"
							alt="Business Mavericks"
						/>
					</div>

					<h4 class="blogHeader">Business Mavericks</h4>
					<div class="blog-single-content__paragraph">
						<p>
							Do you have a great business idea? Come, let&#39;s
							craft the best entrepreneur out of you! Aykya gives
							you an opportunity to showcase your business ideas
							and competency. The platform is all set! So what are
							you waiting for? Come show us your skills in
							&quot;Business Maverick&quot;
							<br /><br />

							<b>Collaboration With:</b> YES Club, Amrita TBI

							<br /><br />

							<b>Entry for:</b> All Students(Teams of 2-4)

							<br /><br />

							<b>Platform:</b> Zoom/MS Teams

							<br /><br />

							<b>Entry Fee:</b> &#x20B9; 150 Per Team

							<br /><br />

							<b>Prizes:</b>
						</p>
						<ul class="listClass">
							<li>1st Place - &#x20B9; 5000</li>
						</ul>
					</div>

					<h4 class="blogSubHeading">Round 1</h4>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i>
							3<sup>rd</sup>November 2020 - 5<sup>th</sup>
							November 2020</span
						>
						<br />
						<span><i class="far fa-clock"></i> Before 12:00AM</span>
					</div>

					<div class="blog-single-content__paragraph">
						<p>
							Report on the Business Plan
							<br />
							<b>Report Content</b>
						</p>

						<div>
							<ul class="listClass">
								<li>Problem</li>
								<li>Solution</li>
								<li>Technology to be used</li>
								<li>Investment Amount</li>
								<li>Cost Sheet</li>
							</ul>
						</div>
					</div>

					<h4 class="blogSubHeading">Round 2</h4>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i
							>7<sup>th</sup>November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i> 4:00PM - 7:00PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">
						<p>
							Pitch for 5 mins about their Business Plan to the
							investor (Panel)<br />
							Only maximum 2 members from the team can present<br />
							Followed by QnA from the panel
							<br /><br />
							<b>Contact:</b>
							<span class="contact-info__link">
								<img
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails"
									>Aravind Raghunandan Menon: 9496054631</span
								>
							</span>
							<br />
							<b>Deadline For Registration: </b
							><span> 2<sup>nd</sup>November 2020</span>
							<br />
							<b>Register Here Using UPI:</b>

							<iframe
								src="https://docs.google.com/forms/d/16eOEAz3TyqW0nGGy4-der9wQ2c89T5YGUFbgmXfuqm0/viewform?embedded=true"
								width="100%"
								height="1700"
								frameborder="0"
								marginheight="0"
								marginwidth="0"
								>Loading…</iframe
							>
							<br />
							<b
								>If you want to pay using credit card, contact
								us at:</b
							>
							<span class="contact-info__link">
								<img
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									Aravind V Nair: +91 98809 47760</span
								>
							</span>
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/pitchPeek"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Pitch Peek</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="tradeOMania"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Trade O Mania</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
