<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <%- include('../components/meta') -%>
    <title>AYKYA</title>
    <%- include('../components/corecss') -%>
</head>


<body>
<header>
    <div class="extra-container">
        <div class="header-2">
            <div class="header__menu-icon">
                <div class="header__menu-icon__dot">
                    <span></span>
                    <span></span>
                </div>
                <div
                        class="header__menu-icon__dot header__menu-icon__dot--vertical"
                >
                    <span></span>
                    <span></span>
                </div>
                <div
                        class="header__menu-icon__dot header__menu-icon__dot--skew"
                >
                    <span></span>
                    <span></span>
                </div>
                <div
                        class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
                >
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="position-fixed"></div>
            <div class="header__logo">
                <a href="/"
                ><img
                            src="/assets/images/logo-white.png"
                            alt="logo"
                            width="105px"
                            height="41px"
                    /></a>
            </div>

            <a href="#" class="header__buy-ticket">
                <span>Register</span>
            </a>
        </div>
    </div>
</header>
<section class="header-posistion"></section>
<%- include('../components/nav') -%>
<div class="loading">
    <div class="sp sp-3balls"></div>
</div>

<section>
    <div class="container">
        <div class="blog-single-content wow fadeInUp">
            <div class="blog-single-content__thumb">
                <img
                        src="assets/images/eventGallery/management_week.jpg"
                        alt="Management Week Blog Thumbnail 1"
                />
            </div>

            <h4 style="color: aliceblue;font-size: 50px;padding-top: 15px">Business Mavericks</h4>
            <div class="blog-single-content__paragraph">
                <p>
                    Do you have a great business idea? Come, let&#39;s
                    craft the best entrepreneur out of you! Aykya gives you an
                    opportunity to showcase your business ideas and
                    competency. The platform is all set! So what are you waiting
                    for? Come show us your skills in &quot;Business Maverick&quot;
                    <br /><br />

                    <b>Entry for:</b> 20 Business (Tentative)

                    <br/><br/>

                    <b>Deadline For Registration:</b> 2th November 2020

                    <br/><br/>

                    <b>Judges:</b> Angel Investor + Amrita TBI Investor

                    <br><br>
                    <i>Optional Activity: If for Webinar - &#x20B9 100</i>

                    <br/><br/>

                    <b>Entry Fee:</b> &#x20B9 250 Per Head

                    <br/><br/>

                    <b>Prizes:</b> &#x20B9 5000

                </p>

            </div>

            <h4 style="color: aliceblue;font-size: 40px;padding-top: 15px;">Round 1</h4>
            <div class="blog-single-content__time" style="margin-top: -25px">
                <span><i class="far fa-calendar-check"></i> 3<sup>rd</sup>November 2020 - 5<sup>th</sup> November 2020</span>
                <br/>
                <span><i class="far fa-clock"></i> Before 12:00AM</span>
            </div>

            <div class="blog-single-content__paragraph">
                <p style="margin-top: -15px;">

                    Report on the Business Plan

                <div class="listClass" style="margin-left: 0px">
                    <b>Report Content</b>
                    <ul class="listClass">
                        <li>
                            Problem
                        </li>
                        <li>
                            Solution
                        </li>
                        <li>
                            Technology to be used
                        </li>
                        <li>
                            Investment Amount
                        </li>
                        <li>
                            Cost Sheet
                        </li>
                    </ul>
                </div>

                </p>
            </div>

            <h4 style="color: aliceblue;font-size: 40px;padding-top: 15px;">Round 2</h4>
            <div class="blog-single-content__time" style="margin-top: -25px">
                <span><i class="far fa-calendar-check"></i> 7<sup>th</sup>November 2020</span>
                <br/>
                <span><i class="far fa-clock"></i> 4:00PM - 7:00PM</span>
            </div>

            <div class="blog-single-content__paragraph">
                <p style="margin-top: -15px;">

                    Pitch for 5 mins about their Business Plan to the investor (Panel)<br>
                    Only maximum 2 members from the team can present<br>
                    Followed by QnA from the panel
                </p>

            </div>



            <div class="blog-single-content__paging">
                <div
                        class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
                >
                    <a
                            href="pitchPeak"
                            class="blog-single-content__paging__btn"
                    >
								<span
                                ><i class="fa fa-angle-double-left"></i
                                    >Prev</span
                                >
                        <h5>Pitch Peak</h5>
                    </a>
                </div>
                <div
                        class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
                >
                    <a
                            href="tradeOMania"
                            class="blog-single-content__paging__btn"
                    >
								<span
                                >Next<i class="fa fa-angle-double-right"></i
                                    ></span>
                        <h5>Trade O Mania</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../components/footer') -%> <%-
include('../components/corejs') -%>
</body>
</html>
