<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%> <%-
		include('../components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/technicalEvents/chatbots.jpg"
							alt="Chatbots"
						/>
					</div>
					<h4 class="blogHeader">Building Interactive AI ChatBots</h4>

					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 6<sup
								>th</sup
							>
							November 2020 - 8<sup>th</sup> November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i>1:00 PM - 4:00 PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">
						<p>
							A Hands-on session where basic Front-end development
							will be covered, which include HTML, CSS, JavaScript
							and Bootstrap, followed by techniques involved in
							building and developing an interactive AI Chatbot.

							<br /><br />

							<b>Prerequisites:</b> None
							<br />
							<br /><b>Platform: </b>MS TEAMS <br /><br />

							<b>Entry Fee: </b>&#x20B9; 550<br />
							<br />

							<b>Entry for :</b>
							B.tech, M.tech and all tech enthusiasts who want to
							start exploring new technologies and its
							applications
							<br /><br />

							<b>Contact: </b>
							<span class="contact-info__link">
								<img
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									Vignesh: +91 96638 90207</span
								>
							</span>
						</p>
						<p>


							<b>Deadline For Registration: </b
							><span> 2<sup>nd</sup>November 2020</span>
							<br>
							<b>Register Here Using UPI:</b>
							<iframe
									src="https://docs.google.com/forms/d/1nOsHXH7BuQrByRCWjekPrqLzta9j0PFDWs2eZjFaf1I/viewform?embedded=true"
									width="100%"
									height="1700"
									frameborder="0"
									marginheight="0"
									marginwidth="0"
							>Loading…</iframe
							>
							<br>
							<b>If you want to pay using credit card, contact us at:</b>
							<span class="contact-info__link">
								<img
										src="assets/images/Contact-phone.png"
										alt="phone"
								/>
								<span class="contactDetails">
									Aravind V Nair: +91 98809 47760</span
								>
							</span>

						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/workshopOnAWS"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Cloud Computing</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/arivu"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Mental Health</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
