<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<script>
		function topFunction() {
			window.scrollTo(0, 2000);
		}
	</script>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a href="#" class="header__buy-ticket">
						<span>Register</span>
					</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventGallery/chatbots.png"
							alt="Management Week Blog Thumbnail 1"
						/>
					</div>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 6<sup
								>th</sup
							>
							November 2020 - 8<sup>th</sup> November 2020</span
						>
						<br />
						<span><i class="far fa-clock"></i>1:00 PM - 4:00 PM</span>
					</div>
					<h4 style="color: aliceblue">Building Interactive AI ChatBots</h4>
					<div class="blog-single-content__paragraph">
						<p style="font-size: larger">
							A Hands-on session where basic Front-end development will be covered, which include HTML, CSS, JavaScript and Bootstrap, followed by techniques involved in building and developing an interactive AI Chatbot.
							<br><b>Platform: </b>MS TEAMS<br>
                            <b>Entry Fee: </b>Rs. 550<br>
<br />

						
							
                            Contact :<b> P Vignesh +919663890207</b>
							<a href="tel:+919663890207">
								<i
								class="fas fa-phone-alt"
									style="
										color: white;
										padding: 2px 2px;
										font-size: 20px;
									"
								></i>
							</a>
							<br /><br />

							<b>Reminder:</b> It's a <i>solo</i> event.

							<br /><br />
						</p>
						<p style="font-size: larger">
							<b>Open for :</b>
							<br />
                            B.tech, M.tech and all tech enthusiasts who want to start exploring new technologies and its applications
                            <br />
						</p>
						<p style="text-align: center; margin-top: 20px">
							<button
								style="font-size: xx-large"
								onclick="topFunction()"
							>
								<b>Register Below</b>
							</button>
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="techweek"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Art Gallery</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="culturalweek"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Conquer The Squares</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
