<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%> <%-
		include('../components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb poster-item">
						<img
							src="assets/images/eventPosters/culturalEvents/chess.png"
							alt="Chess"
						/>
					</div>

					<h4 class="blogHeader">Conquer The Squares</h4>

					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i>6<sup>th</sup>
							November 2020</span
						>
						<br />
						<span><i class="far fa-clock"></i>3 pm - 5 pm</span>
					</div>

					<div class="blog-single-content__paragraph">
						<p>
							Participate in the event by quickly downloading or
							signing up yourselves on the LICHESS website.
							<br />
							<br />
							The Website is absolutely free and we will have
							matches happening simultaneously. In the end the top
							two chess wizards will compete against each other
							and only one will conquer the Square!
							<br />
							Sharpen your brain, prepare your tactics and get
							ready to become the winner sitting at the comfort of
							your home.
							<br />
							<b>Register Here Using UPI:</b>

							<iframe
								src="https://docs.google.com/forms/d/1EQHjcj1basxW40Nq4Txl5UgvJPEsNKWRLAcca3TFDA0/viewform?embedded=true"
								width="100%"
								height="1700"
								frameborder="0"
								marginheight="0"
								marginwidth="0"
								>Loading…</iframe
							>
							<br />
							<b
								>If you want to pay using credit or debit card,
								contact us at:</b
							>
							<span class="contact-info__link">
								<img
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									Aravind B J: +91 90745 65221</span
								>
							</span>
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/bestFootForward"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Best Foot Forward</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/openMicComedy"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next
									<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Open Mic - Comedy</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
