<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/technicalEvents/curbTheDisease.jpg"
							alt="Curb The Disease - What Can YOU Do?"
						/>
					</div>

					<h4 class="blogHeader">
						Curb the disease - What can YOU do?
					</h4>

					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 7<sup
								>th</sup
							>
							November 2020
						</span>
						<br />
						<span
							><i class="far fa-clock"></i> 4:00 PM - 7:00
							PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">
						<p>
							A fun event for school children to come up with an
							idea/ thought/ solution that will help curb
							COVID-19. Each team should present their idea in the
							form of a presentation or video. There will be a
							questioning round by the judges based on the team’s
							presentation. They will be judged based on their
							creativity, practicality, etc. What are your junior
							scientists waiting for? Sign up immediately!! Your
							idea could be the answer to the world’s problem!

							<br /><br />

							<b>Prizes: </b>
						</p>

						<div>
							<ul class="listClass">
								<li>Category 1: &#x20B9; 1500</li>
								<li>Category 2 : &#x20B9; 1500</li>
							</ul>
						</div>

						<p>
							<br />
							<b>Entry fee : </b>Free

							<br /><br />
							<b>Entry For: </b>
							School students and PU students.

							<br /><br />
							<b>Platform : </b> Google Meet<br /><br />

							<b>Rules :</b>
						</p>

						<div>
							<ul class="listClass">
								<li>There will be two categories:</li>
								<ul class="listClass">
									<li>Category 1: Class 6th - 9th</li>
									<li>Category 2: Class 10th - 12th</li>
								</ul>
								<li>
									Teams will be assessed according to the
									categories they belong to and one winning
									team will be decided from each category.
								</li>
								<li>
									The number of people in a team: A Maximum of
									three.
								</li>
								<li>
									Time for presentation for each team: 10 min
								</li>
								<li>Time for questions from judges: 5 min</li>
								<li>
									Modes to present: PPT with Video, Pictures
								</li>
							</ul>
						</div>

						<p>
							<br />
							<b>Contact :</b>
							<span class="contact-info__link">
								<img
									class="eventPageContact"
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									Kumar Koushik: +918106238516</span
								>
							</span>
							<br />
							<b>Deadline For Registration: </b
							><span> 2<sup>nd</sup>November 2020</span>
							<br />
							<b>Register Here Using UPI:</b>

							<iframe
								src="https://docs.google.com/forms/d/1mpZ_Srbexagp88ffGzGyWta_lkD5_gB1qPvxFavMh-E/viewform?embedded=true"
								width="100%"
								height="1700"
								frameborder="0"
								marginheight="0"
								marginwidth="0"
								>Loading…</iframe
							>
							<br />
							<b
								>If you want to pay using credit card, contact
								us at:</b
							>
							<span class="contact-info__link">
								<img
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									Aravind V Nair: +91 98809 47760</span
								>
							</span>
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/blockChain"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Blockchain</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/ramanujan"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Ramanujan to Sherlock</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
