</html>
<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<script>
		function topFunction() {
			window.scrollTo(0, 2000);
		}
	</script>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a href="#" class="header__buy-ticket">
						<span>Register</span>
					</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventGallery/Curbthedisease.png"
							alt="Management Week Blog Thumbnail 1"
						/>
					</div>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 7<sup
								>th</sup
							>
							November 2020 </span
						>
						<br />
						<span><i class="far fa-clock"></i> 4:00 PM - 7:00 PM</span>
					</div>
					<h4 style="color: aliceblue">Curb the disease - What can YOU do?
                    </h4>
					<div class="blog-single-content__paragraph">
                        <p style="font-size: larger">
                           
                            A fun event for school children to come up with an idea/ thought/ solution that will help curb COVID-19. Each team should present their idea in the form of a presentation or video. There will be a questioning round by the judges based on the team’s presentation. They will be judged based on their creativity, practicality, etc. What are your junior scientists waiting for? Sign up immediately!!
                            Your idea could be the answer to the world’s problem!

							
							<br /><br>

							
							<b>Prizes: </b><br> Category 1: Rs. 1500<br>Category 2 : Rs. 1500<br>
							<br /><br />

							<b>Entry fee :  </b>Free 

							<br /><br />
						</p>
						<p style="font-size: larger">
							<b>Open For: </b>
                            School students and PU students.

							<br /><br>
							<b>Platform : </b> Google Meet<br><br>
							<b>Contact :</b>  Kumar Koushik: +918106238516<br><br>
                            <b>Rules :</b><br><br>
						<ul style="color:white">
							<li>There will be two categories: </li>
							<li>Category 1: Class 6th to 9th</li>
							<li>Category 2: Class 10th -12th </li>
							<li>Teams will be assessed according to the categories they belong to and one winning team will be decided from each category.</li>
							<li>The number of people in a team: A Maximum of three.</li>
							<li>Time for presentation for each team: 10 min</li>
							<li>Time for questions from judges: 5 min</li>
							<li>Modes to present: PPT with Video, Pictures</li>
						</ul>
						

							

							
							<br />
						</p>

						

						<p style="text-align: center; margin-top: 20px">
							<button
								style="font-size: xx-large"
								onclick="topFunction()"
							>
								<b>Register Below</b>
							</button>
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="techweek"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Art Gallery</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="culturalweek"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Conquer The Squares</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
