<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a href="#" class="header__buy-ticket">
						<span>Register</span>
					</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventGallery/Gamingmin.png"
							alt="Management Week Blog Thumbnail 1"
						/>
					</div>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 7<sup
								>th</sup
							>
							November 2020 </span
						>
						<br />
						<span><i class="far fa-clock"></i> 7:30 PM - 11:00 PM</span>
					</div>
					<h4 style="color: aliceblue"> Valorant GAME NITE
                    </h4>
					<div class="blog-single-content__paragraph">
                        <p style="font-size: larger">
                           
                            “Don’t aspire to be the best on the team. Aspire to be the best FOR the team.”<br>~Anonymous<br><br>
                            On that note, welcome to AYKYA’s Valorant tournament!
                            Think your team has that perfect synergy? Want to clutch up those sticky situations and bring your team to victory? Then, show us your game sense and accuracy on ‘AYKYA VALORANT TOURNAMENT’. Bring in your 5 stacks and show us what it takes to be the best of the best. Register NOW!
							
							<br /><br>

							
							<b>Prizes: </b><br> 1st position : &#x20B9; 1500<br>2nd postion : &#x20B9; 1000<br>
							<br /><br />

							<b>Entry fee: </b> &#x20B9; 100 per team (TEAM OF 5), &#x20B9; 20 per person

							<br /><br />
						</p>
						<p style="font-size: larger">
							<b>Entry For: </b>
							Open for all.
							<br /><br>
							<b>Contact :</b>
							<a class="contact-info__link" href="#">
								<img class="eventPageContact" src="assets/images/Contact-phone.png" alt="phone"/>
								<span style="
											color: white;
											filter: brightness(400%)
												contrast(100%);
										">Shreya: 7349161123</span>
							</a>
							<a class="contact-info__link" href="#">
								<img class="eventPageContact" src="assets/images/Contact-phone.png" alt="phone"/>
								<span style="
											color: white;
											filter: brightness(400%)
												contrast(100%);
										">Bilal: 9037971569</span>
							</a>
							<a class="contact-info__link" href="#">
								<img class="eventPageContact" src="assets/images/Contact-phone.png" alt="phone"/>
								<span style="
											color: white;
											filter: brightness(400%)
												contrast(100%);
										"> Praanesh: 733758718</span>
							</a>
							<br />
						</p>


					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="techweek"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Art Gallery</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="culturalweek"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Conquer The Squares</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
