<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%> <%-
		include('../components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/technicalEvents/gameNite.jpg"
							alt="Game Nite - Valorant"
						/>
					</div>
					<h4 class="blogHeader">Valorant GAME NITE</h4>

					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 7<sup
								>th</sup
							>
							November 2020
						</span>
						<br />
						<span
							><i class="far fa-clock"></i> 7:30 PM -
							11:00PM</span
						>
					</div>
					<div class="blog-single-content__paragraph">
						<p>
							“Don’t aspire to be the best on the team. Aspire to
							be the best FOR the team.”<br />~Anonymous<br /><br />
							On that note, welcome to AYKYA’s Valorant
							tournament! Think your team has that perfect
							synergy? Want to clutch up those sticky situations
							and bring your team to victory? Then, show us your
							game sense and accuracy on ‘AYKYA VALORANT
							TOURNAMENT’. Bring in your 5 stacks and show us what
							it takes to be the best of the best. Register NOW!

							<br /><br />

							<b>Prizes: </b>
						</p>

						<div>
							<ul class="listClass">
								<li>1st position : &#x20B9; 1500</li>
								<li>2nd postion :&#x20B9; 1000</li>
							</ul>
						</div>

						<p>
							<br />
							<b>Entry fee: </b> &#x20B9; 100 per team (Teams Of
							5), &#x20B9; 20 per person

							<br /><br />

							<b>Entry For: </b>
							Open for all.
							<br /><br />
							<b>Contact :</b>
							<span class="contact-info__link">
								<img
									class="eventPageContact"
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails"
									>Shreya: 7349161123</span
								>
							</span>
							<span class="contact-info__link">
								<img
									class="eventPageContact"
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails"
									>Bilal: 9037971569</span
								>
							</span>
							<span class="contact-info__link">
								<img
									class="eventPageContact"
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									Praanesh: 733758718</span
								>
							</span>
							<br />

							<b>Deadline For Registration: </b
							><span> 2<sup>nd</sup>November 2020</span>
							<br />
							<b>Register Here Using UPI:</b>

							<iframe
								src="https://docs.google.com/forms/d/1DlkXXQWkhSNEP06c3sdwDmYCNo_YtztZZmNE5k8z3rg/viewform?embedded=true"
								width="100%"
								height="1700"
								frameborder="0"
								marginheight="0"
								marginwidth="0"
								>Loading…</iframe
							>
							<br />
							<b
								>If you want to pay using credit or debit card,
								contact us at:</b
							>
							<span class="contact-info__link">
								<img
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									Aravind B J: +91 90745 65221</span
								>
							</span>
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/nlp"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Natural Language Processing</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/blockChain"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Blockchain</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
