<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>


	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a
							href="https://payments.acrd.org.in/pay/event/blr2021001"
							class="header__buy-ticket"
							target="_blank"
							rel="noopener"
						>
							<span>Register</span>
						</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/technicalEvents/mathWorks.jpg"
							alt="MathWorks"
						/>
					</div>

					<h4 class="blogHeader">Demo on Simulink by MathWorks
					</h4>

					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 6<sup
								>th</sup
							>
							November 2020</span> 						<br />
						<span><i class="far fa-clock"></i>2:00 PM - 5:00 PM</span>
					</div>

					<div class="blog-single-content__paragraph">
						<p>
							<b>Speakers:</b><br>
							<b>Nikhil Sonavane</b> is an Application Support Engineer
							in the Engineering Development Group at MathWorks

							<br>

							<b>Amith</b> is an Education Technical Evangelist at MathWorks and works with
							the academic institutions in India on the adoption of MathWorks’ workflows in curriculum and research.
							<br><br>
							Introduction to Low-cost Hardware,
							Working with MATLAB + support packages – to target these devices and
							Arduino – MATLAB + Simulink interfaces
							<br>
							<br><b>Platform: </b>MS TEAMS<br><br>
							<b>Entry Fee:</b> &#x20B9; 49 (for IEEE members), &#x20B9;99 (for Non-IEEE members).
							<br><br />


							<b>Description:</b>

							<h3 >2:00PM - 3:15PM : </h3>
							<p>
								Introduction to Low-cost Hardware<br>
								Working with MATLAB + support packages – to target these devices<br>
								Arduino – MATLAB + Simulink interfaces
							</p>
							<br><br>

							<h3 style="text-align: center" >15 Mins Break</h3>

							<br><br>

							<h3>3:30 PM - 4:45 PM : </h3>
							<p>
								Using Android devices as a sensor<br>
								IoT workflows – storing and analyzing streaming sensor data
							</p>

							<br><br>

							<h3 >4:45 PM to 5:00 PM : </h3>
							<p>
								Open Q&A and buffer for overruns
							</p>
							<br><br>

							<b>Prerequisites :</b>

						<div>

							<ul class="listClass">
								<li>
									No prior knowledge of boards like Arduino, Raspberry Pi is expected but is nice to have.
								</li>
								<li>
									Basic exposure to MATLAB is also nice to have
								</li>
								<li>
									<a href="https://www.mathworks.com/learn/tutorials/matlab-onramp.html" class="link-hover">
									Try finishing the MATLAB ONRAMP (certificate on completion)
									</a>
								</li>
							</ul>

						</div>

						<p>
							<br>
							<b>Outcomes :</b>
							<br>
							After attending this workshop, attendees should be able to:

						<div>

							<ul class="listClass">
								<li>
									Learn more about how to work with Arduino boards more easily with MATLAB
								</li>
								<li>
									Learn how to interface with sensors and acquire + analyze data
								</li>
								<li>
										Have a broader understanding of using high-level programming tools like MATLAB to build faster and better
								</li>
							</ul>

						</div>
						</p>

						</p>
						<p>

							<br>
							<b>Entry for :</b>
							B.tech ( All branches) and all those who would love to start by learning the basics from the creators themselves!
							<br />
							<br>
							<b>Contact :</b>
							<a class="contact-info__link" href="#">
								<img
										class="eventPageContact"
										src="assets/images/Contact-phone.png"
										alt="phone"
								/>
								<span
										class="contactDetails"
								>
										Lakshmi P H: +91 72592 83492</span
								>
							</a>

							<br>

							<b>Deadline For Registration: </b><span> 2<sup>nd</sup>November 2020</span>

							<br><br>
						</p>

					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/workshopOnML"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Machine Learning</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/nlp"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Natural Language Processing</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
