<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%> <%-
		include('../components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb poster-item">
						<img
							src="assets/images/eventPosters/culturalEvents/openmic.png"
							alt="Open mic"
						/>
					</div>

					<h4 class="blogHeader">Open Mic - Talk On A Topic</h4>

					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i>8<sup>th</sup>
							November 2020</span
						>
						<br />
						<span><i class="far fa-clock"></i>5 pm - 6 pm</span>
					</div>
					<div class="blog-single-content__paragraph">
						<p>
							Just join the live stream on Instagram and
							participate with no prior registration hassles. The
							stage is all set, for you, to light it on fire!!!
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/battleOfTheBands"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Battle Of The Bands</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						></div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
