<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<html lang="en">
		<head>
			<%- include('../components/meta') -%>
			<title>AYKYA</title>
			<%- include('../components/corecss') -%>
		</head>
		<body>
			<%- include('../components/header') -%>
			<section class="header-posistion"></section>
			<%- include('../components/nav') -%>
			<div class="loading">
				<div class="sp sp-3balls"></div>
			</div>

			<section>
				<div class="container">
					<div class="blog-single-content wow fadeInUp">
						<div class="blog-single-content__thumb">
							<img
								src="assets/images/eventPosters/managementEvents/pitchPeek.jpg"
								alt="Pitch Peak"
							/>
						</div>

						<h4 class="blogHeader">Pitch Peek</h4>
						<div class="blog-single-content__paragraph">
							<p>
								A sales pitching competition is conducting on
								behalf of the great AYKYA MANAGEMENT FEST, which
								aims to bring out the creativity, selling talent
								and communication skills among students. The
								event is scheduled to happen in three rounds,
								which test the ability of participants to
								advertise their brand and sell the product
								efficiently and effectively.
								<br /><br />

								<b>Entry for:</b> All Students(Teams of 2-3)

								<br /><br />

								<b>Platform:</b> Zoom/MS Teams

								<br /><br />

								<b>Entry Fee:</b> &#x20B9; 250 Per Team

								<br /><br />

								<b>Prizes:</b>
							</p>
							<div>
								<ul class="listClass">
									<li>1st Place - &#x20B9; 2000</li>
									<li>2nd Place - &#x20B9; 1000</li>
								</ul>
							</div>
						</div>

						<h4 class="blogSubHeading">Round 1</h4>
						<div class="blog-single-content__time">
							<span
								><i class="far fa-calendar-check"></i>
								4<sup>th</sup>November 2020</span
							>
							<br />
							<span
								><i class="far fa-clock"></i> Before
								5:00PM</span
							>
						</div>

						<div class="blog-single-content__paragraph">
							<p>
								<b>Deadline:</b> 5:00 PM
								<br />
								Submit video and ppt to the given link:
								<br /><br />
								<b>Aykya's official Instagram account:</b>
								<a href="https://instagram.com/aykya2020">
									<i
										class="fab fa-instagram fa-2x"
										style="
											color: white;
											padding: 2px 2px;
											font-size: 20px;
										"
									></i>
								</a>
							</p>
						</div>

						<h4 class="blogSubHeading">Round 2</h4>
						<div class="blog-single-content__time">
							<span
								><i class="far fa-calendar-check"></i>
								7<sup>th</sup>November 2020</span
							>
							<br />
							<span
								><i class="far fa-clock"></i> 10:00AM -
								1:00PM</span
							>
						</div>

						<div class="blog-single-content__paragraph">
							<p>
								<b>10:00PM - 1:00PM : </b> Split Room + 2 Judges

								<br />

								<b>10:00PM - 7:00PM : </b> Single Room + 1 Judge
							</p>
						</div>

						<h4 class="blogSubHeading">Round 3</h4>
						<div class="blog-single-content__time">
							<span
								><i class="far fa-calendar-check"></i>
								8<sup>th</sup>November 2020</span
							>
							<br />
							<span
								><i class="far fa-clock"></i> 10:00AM -
								1:00PM</span
							>
						</div>

						<div class="blog-single-content__paragraph">
							<p>
								Final pitching competition for selected teams
								with random products(<i>7 - 10 Teams</i>)
								<br /><br />
								<b>Contact:</b>
								<span class="contact-info__link">
									<img
										class="eventPageContact"
										src="assets/images/Contact-phone.png"
										alt="phone"
									/>
									<span class="contactDetails"
										>Soumya Somanath: 9567748042</span
									>
								</span>
								<br />
								<b>Deadline For Registration: </b
								><span> 2<sup>nd</sup>November 2020</span>
								<br>
								<b>Register Here Using UPI:</b>

								<iframe
										src="https://docs.google.com/forms/d/1xgLu8QaSayaHGT8Dtsa8peRl4Q3MO5XXA4t_adYlOls/viewform?embedded=true"
										width="100%"
										height="1700"
										frameborder="0"
										marginheight="0"
										marginwidth="0"
								>Loading…</iframe
								>
								<br>
								<b>If you want to pay using credit card, contact us at:</b>
								<span class="contact-info__link">
								<img
										src="assets/images/Contact-phone.png"
										alt="phone"
								/>
								<span class="contactDetails">
									Aravind V Nair: +91 98809 47760</span
								>
							</span>
							</p>
						</div>

						<div class="blog-single-content__paging">
							<div
								class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
							>
								<a
									href="visleshana"
									class="blog-single-content__paging__btn"
								>
									<span
										><i class="fa fa-angle-double-left"></i
										>Prev</span
									>
									<h5>Visleshana</h5>
								</a>
							</div>
							<div
								class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
							>
								<a
									href="businessMavericks"
									class="blog-single-content__paging__btn"
								>
									<span
										>Next<i
											class="fa fa-angle-double-right"
										></i
									></span>
									<h5>Business Mavericks</h5>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<%- include('../components/footer') -%> <%-
			include('../components/corejs') -%>
		</body>
	</html>
</html>
