<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<script>
		function topFunction() {
			window.scrollTo(0, 2000);
		}
	</script>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a
							href="https://payments.acrd.org.in/pay/event/blr2021001"
							class="header__buy-ticket"
							target="_blank"
							rel="noopener"
						>
							<span>Register</span>
						</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="/assets/images/eventGallery/Ramanujan.png"
							alt="Management Week Blog Thumbnail 1"
						/>
					</div>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 8<sup
								>th</sup
							>
							November 2020 						<br />
						<span><i class="far fa-clock"></i> 3:00 PM - 6:00 PM

                        </span>
					</div>
					<h4 style="color: aliceblue"> Ramanujan to Sherlock
                    </h4>
					<div class="blog-single-content__paragraph">
						<p style="font-size: larger">
							<b>Speakers:</b><br>
                            Mr. K P Haran,<br>
                            NPI/ Commercial Manager, Caterpillar, Hosur.<br>
<br>
<br>
<b>FIRST ROUND-MATH</b><br>
There are two components in the first round, one to solve the Math questions given, second to solve the Jigsaw puzzle (6x6) to unveil the mathematician behind it.
We will be sharing the set of questions (2 sets (A and B)). 5 teams will get the same set.
Registrations can happen as a team (to avoid confusion during the game) and we can ask the team members to group call themselves so that it’ll be easy for them to discuss.

<br><br>
Contact :<b>Chaithra  7032361556

</b>
<a href="tel:+917032361556">
    <i
    class="fas fa-phone-alt"
        style="
            color: white;
            padding: 2px 2px;
            font-size: 20px;
        "
    ></i>
</a><br>
<b>SECOND ROUND – SCIENCE</b><br>
The group will be given a crime scene. They have to go through the crime scene, figure out the clues. On solving the clues, they end up with a word/phrase, which is the answer.

<br />
<br><b>Platform: </b>Google Meet
<br><br>


                            Contact :<b> Chandana: 9902477354
                            </b>
							<a href="tel:+919902477354">
								<i
								class="fas fa-phone-alt"
									style="
										color: white;
										padding: 2px 2px;
										font-size: 20px;
									"
								></i>
							</a>
							<br /><br />



						</p>
						<p style="font-size: larger">
							<b>Open for :</b>
                            Especially for School students and PU students.
                            <br />
						</p>
						<p style="text-align: center; margin-top: 20px">
							<button
								style="font-size: xx-large"
								onclick="topFunction()"
							>
								<b>Register Below</b>
							</button>
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="techweek"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Art Gallery</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="culturalweek"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Conquer The Squares</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
