<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<!-- <a
							 href="#"
							class="header__buy-ticket"
							target="_blank"
							rel="noopener"
						>
							<span>Register</span>
						</a> -->
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%> <%-
		include('../components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="/assets/images/eventPosters/technicalEvents/ramanujan.jpg"
							alt="Management Week Blog Thumbnail 1"
						/>
					</div>

					<h4 class="blogHeader">Ramanujan to Sherlock</h4>

					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 8<sup
								>th</sup
							>
							November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i> 3:00 PM - 6:00 PM
						</span>
					</div>

					<div class="blog-single-content__paragraph">
						<p>
							<b>Speakers:</b><br />
							Mr. K P Haran,<br />
							NPI/ Commercial Manager, Caterpillar, Hosur.<br />
							<br />

							<b>Collaboration With: </b>Sankhya and Vyom
						</p>

						<h4 class="blogSubHeading">Round 1 - <i>Math</i></h4>
						<p>
							There are two components in the first round, one to
							solve the Math questions given, second to solve the
							Jigsaw puzzle (6x6) to unveil the mathematician
							behind it. We will be sharing the set of questions
							(2 sets (A and B)). 5 teams will get the same set.
							Registrations can happen as a team (to avoid
							confusion during the game) and we can ask the team
							members to group call themselves so that it’ll be
							easy for them to discuss.
						</p>

						<br /><br />

						<p>
							<b>Contact:</b>
							<span class="contact-info__link">
								<img
									class="eventPageContact"
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									Chaithra: 7032361556</span
								>
							</span>
						</p>

						<br />
						<h4 class="blogSubHeading">Round 2 – <i>Science</i></h4>
						<p>
							The group will be given a crime scene. They have to
							go through the crime scene, figure out the clues. On
							solving the clues, they end up with a word/phrase,
							which is the answer.
						</p>

						<br />

						<b>Prizes: </b>
						<div>
							<ul class="listClass">
								<li>1st position : &#x20B9; 1500</li>
								<li>2nd postion :&#x20B9; 1000</li>
								<li>3rd position : &#x20B9; 500</li>
							</ul>
						</div>

						<p>
							<br />
							<b>Platform: </b>Google Meet<br /><br />

							<b>Entry for :</b>
							Especially for School students and PU students.
							<br /><br />

							<b>Entry fee : </b> Free <br /><br />

							<b>Contact:</b>

							<span class="contact-info__link">
								<img
									class="eventPageContact"
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									Chandana: 9902477354</span
								>
							</span>

							<br />
							<b>Deadline For Registration: </b
							><span> 2<sup>nd</sup>November 2020</span>
						</p>

						<br />
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/curbTheDiseases"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Curb The Disease</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/webinarOnFutureECE"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Furture of ECE</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
