<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<%- include('../components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/managementEvents/scope.jpg"
							alt="SCOPE"
						/>
					</div>

					<h4
						class="blogHeader"
					>
						SCOPE
					</h4>
					<div class="blog-single-content__paragraph">
						<p>
							Scope is the supply chain management event which
							consists of 4 rounds. The rounds aim at bringing
							operational excellence in young leaders. The various
							rounds include a quiz, numerical problem, a debate
							and a case study presentation.
							<br /><br />
							<b>Entry for:</b> All Students(Teams Of 2)

							<br /><br />

							<b>Platform:</b> Zoom/MS Teams

							<br /><br />

							<b>Deadline For Registration:</b> TBA

							<br /><br />

							<b>Deadline For Registration:</b> 4th November 2020

							<br /><br />

							<b>Entry Fee:</b> &#x20B9; 150 Per Head

							<br><br />

							<b>Prizes:</b>
						</p>
						<div>
							<ul class="listClass">
								<li>1st Place - &#x20B9; 2000</li>
								<li>2nd Place - &#x20B9; 1500</li>
							</ul>
						</div>
					</div>

					<h4
						class="blogSubHeading"
					>
						Round 1
					</h4>
					<div
						class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i>
							7<sup>th</sup>November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i> 4:00PM - 4:30PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">
						<p >
							<b>Event:</b> Quiz <br /><br />
							<b>Duration:</b> 15 mins
							<br />
						</p>
						<div>
							<ul class="listClass">
								<li>
									The event will be conducted in Microsoft forms .
								</li>
								<li>
									Number of questions: 25 (10 general, 15 based on
									the subject)
								</li>
							</ul>
						</div>
					</div>

					<h4
						class="blogSubHeading"
					>
						Round 2
					</h4>
					<div
						class="blog-single-content__time"

					>
						<span
							><i class="far fa-calendar-check"></i>
							7<sup>th</sup>November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i> 5:30PM - 6:30PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">
						<p>
							<b>Event:</b> Numerical Problem
						</p>
					</div>

					<h4
						class="blogSubHeading"
					>
						Round 3
					</h4>
					<div
						class="blog-single-content__time"

					>
						<span
							><i class="far fa-calendar-check"></i>
							8<sup>th</sup>November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i> 10:00AM -
							12:30PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">
						<div class="listClass" style="margin-left: 0px">
							<b>Event:</b> Debate <br /><br />
							<b>Duration:</b> 7-10 mins
							<br /><br />
							<b>Judge:</b> Vishnu Sir (suggestion)
							<br />
							<div>
								<ul class="listClass">
									<li>
										One on one For or against or two conflicting
										ideas
									</li>
									<li>6/8/10 teams from the previous round</li>
								</ul>
							</div>
						</div>
					</div>

					<h4
						class="blogSubHeading"
					>
						Round 4
					</h4>
					<div
						class="blog-single-content__time"

					>
						<span
							><i class="far fa-calendar-check"></i>
							8<sup>th</sup>November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i> 2:00PM - 5:00PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">
						<p>
							<p>
							<b>Event:</b> Case study And Presentation
							<br /><br />
							<b>Duration:</b> 20-30 mins
							<br /><br />
							<b>Judges:</b> Shijit Sir, RamSubbu Sir
							</p>
							<div>
								<ul class="listClass">
									<li>Share the case study before an hour</li>
									<li>
										The participants are expected to solve the
										problem and make a presentation in the
										specified time. They can get as innovative
										as possible.
									</li>
									<li>3 or 4 teams</li>
									<li>6-8 slides</li>
									<li><b>Presentation Time:</b>10 mins</li>
								</ul>
							</div>
						</p>

						<p>
							<br />

							<b>Contact:</b>
							<span class="contact-info__link">
								<img
										class="eventPageContact"
										src="assets/images/Contact-phone.png"
										alt="phone"
								/>
								<span
										class="contactDetails"
								>Durga Chandrika: 9048101909</span
								>
							</span>
							<br>
							<b>Deadline For Registration: </b><span> 2<sup>nd</sup>November 2020</span>

						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="tradeOMania"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Trade O Mania</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						></div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
