<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<%- include('components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb poster-item">
						<img
							src="assets/images/eventPosters/culturalEvents/shipwreck.png"
							alt="Shipwreck Blog Thumbnail 1"
						/>
					</div>

					<h4 class="blogHeader">Shipwreck</h4>

					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 7<sup
								>th</sup
							>
							November 2020</span
						>
						<br />
						<span><i class="far fa-clock"></i> 10 am - 12 pm</span>
					</div>
					<div class="blog-single-content__paragraph">
						<p>
							Convincing someone is always hard, but here is your chance to our judge to give you the
							spare lifejacket and save yourself from the sinking ship!<br>
							Shipwreck is a fun game which provides you with a hypothetical scenario where the
							participants are famous personalities stuck in a sinking ship ,but there are only 2 life jackets,
							the judges aka the captain of the ship only has one extra, so it is your job to convince him to
							give you the extra life jacket, with jokes, voice mimics , portraying specific character traits and
							good punchlines. If you impress the captain, you win!<br><br>

							It’s a game of life and death! All the best!
						</p>

					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/openMicComedy"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Open Mic - Comedy</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/openMicMusic"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Open Mic - Music</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
