<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<script>
		function topFunction() {
			window.scrollTo(0, 2000);
		}
	</script>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a href="#" class="header__buy-ticket">
						<span>Register</span>
					</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="/assets/images/eventGallery/sigma.png"
							alt="Management Week Blog Thumbnail 1"
						/>
					</div>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 8<sup
								>th</sup
							>
							November 2020 						<br />
						<span><i class="far fa-clock"></i>6:00 PM - 7:00 PM
                        </span>
					</div>
					<h4 style="color: aliceblue">  Webinar on 6sigma and Lean Techniques </h4>
					<div class="blog-single-content__paragraph">
						<p style="font-size: larger">
							<b>Speakers:</b><br>
                            Mr. K P Haran,<br>
                            NPI/ Commercial Manager, Caterpillar, Hosur.<br>
<br>
                            6 Sigma and Lean is the latest methodology used by industries to improve the process and address the problems they face in production areas and the transaction areas by a very methodological way and addressing it with data and facts. 6 Sigma addresses the variation in the process and Lean address how to do the process more effectively and efficiently<br>
 
·       Overview - Lean Six Sigma methodology.<br>
·       Introduction to the DMAIC process.<br>
·       Development of Team Charter and calculating financial gains.<br>
·       SIPOC-Supplier, Input, Process, Output, Customer.<br>
·       Voice of Customer, CCR, VOB – CCB<br>
·       Statistical analysis,  Process Capability Evaluation.<br>
·       8 Wastes<br>
·      VSM and Lean Concepts, Identify the Value Stream, Creating Flow,Creating Pull, Visual Management, Process Standardisation

<br><br>
							<br><b>Platform: </b>Zoom/ Google meet
                            <br>

<br />

						
							
                            Contact :<b> P H Lakshmi: +917259283492
                            </b>
							<a href="tel:+917259283492">
								<i
								class="fas fa-phone-alt"
									style="
										color: white;
										padding: 2px 2px;
										font-size: 20px;
									"
								></i>
							</a>
							<br /><br />

							
							
						</p>
						<p style="font-size: larger">
							<b>Open for :</b>
                            B.tech, M.tech, MBA
                            <br />
						</p>
						<p style="text-align: center; margin-top: 20px">
							<button
								style="font-size: xx-large"
								onclick="topFunction()"
							>
								<b>Register Below</b>
							</button>
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="techweek"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Art Gallery</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="culturalweek"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Conquer The Squares</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
