<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%> <%-
		include('../components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="/assets/images/eventPosters/technicalEvents/sigma.jpg"
							alt="Management Week Blog Thumbnail 1"
						/>
					</div>

					<h4 class="blogHeader">
						Webinar on 6sigma and Lean Techniques
					</h4>

					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 8<sup
								>th</sup
							>
							November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i>6:00 PM - 7:00 PM
						</span>
					</div>

					<div class="blog-single-content__paragraph">
						<p>
							<b>Speakers:</b><br />
							Mr. K P Haran,<br />
							NPI/ Commercial Manager, Caterpillar, Hosur.<br />
							<br />
							6 Sigma and Lean is the latest methodology used by
							industries to improve the process and address the
							problems they face in production areas and the
							transaction areas by a very methodological way and
							addressing it with data and facts. 6 Sigma addresses
							the variation in the process and Lean address how to
							do the process more effectively and efficiently<br />
						</p>

						<div>
							<ul class="listClass">
								<li>Overview - Lean Six Sigma methodology</li>
								<li>Introduction to the DMAIC process</li>
								<li>
									Development of Team Charter and calculating
									financial gains
								</li>
								<li>
									SIPOC-Supplier, Input, Process, Output,
									Customer
								</li>
								<li>Voice of Customer, CCR, VOB – CCB</li>
								<li>
									Statistical analysis, Process Capability
									Evaluation
								</li>
								<li>8 Wastes</li>
								<li>
									VSM and Lean Concepts, Identify the Value
									Stream, Creating Flow,Creating Pull, Visual
									Management, Process Standardisation
								</li>
							</ul>
						</div>

						<br /><br />
						<p>
							<b>Platform: </b>Zoom/ Google Meet <br /><br />

							<b>Entry for :</b>
							B.tech, M.tech, MBA
							<br />
							<br />

							<b>Contact :</b>
							<span class="contact-info__link">
								<img
									class="eventPageContact"
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									Lakshmi P H: +91 72592 83492</span
								>
							</span>
							<br />
							<b>Register Here Using UPI:</b>

							<iframe
								src="https://docs.google.com/forms/d/1qwgJew1IzXCEr1hdiyL8PKrNaEQSP4jTtJZul0rI1b0/viewform?embedded=true"
								width="100%"
								height="1700"
								frameborder="0"
								marginheight="0"
								marginwidth="0"
								>Loading…</iframe
							>
							<br />
							<b
								>If you want to pay using credit or debit card,
								contact us at:</b
							>
							<span class="contact-info__link">
								<img
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									Aravind B J: +91 90745 65221</span
								>
							</span>
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/webinarOnAstrophotography"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Astrophotography</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next-first"
						></div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
