</html>
<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<script>
		function topFunction() {
			window.scrollTo(0, 2000);
		}
	</script>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a href="#" class="header__buy-ticket">
						<span>Register</span>
					</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventGallery/SLAC.png"
							alt="Management Week Blog Thumbnail 1"
						/>
					</div>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 7<sup
								>th</sup
							>
							November 2020 - 8<sup>th</sup> November 2020</span
						>
						<br />
						<span><i class="far fa-clock"></i> 12:00 PM - 12:00 PM(24-Hour hacathon)</span>
					</div>
					<h4 style="color: aliceblue"> SLAC 2020
                    </h4>
					<div class="blog-single-content__paragraph">
                        <p style="font-size: larger">
                           
							SLAC (Stay Late and Code) is a 24-hour annual hackathon hosted by Amrita School of Engineering, Bengaluru Campus. Reputed as one of Bengaluru's biggest hackathons, SLAC witnesses an average footfall of 300+ participants from more than 20 colleges, and has played the role of an open playground for developers, innovators and recruiters. In its 10th iteration, SLAC 2020 takes things up a notch by hosting the hackathon online, thereby making it open for participation from universities worldwide. With experienced judges, pioneering sponsors, industry experts and a hefty cash prize, SLAC 2020 is a culmination that will not only prove fruitful for seasoned programmers and talent hunters but also provide a budding ground for beginners and enthusiastic learners.

							<br />

							
							
                            <br /><br />
                            <b>Prizes: </b>Rs. 70,000<br><br>

							<b>Entry fee : </b> ₹50 per participant. Teams of 3 or 4. Individual  participation allowed, but will not be eligible for prizes or judgment


							<br /><br />
							<b>Platform for submission: </b>HackerEarth<br><br>
						</p>
						<p style="font-size: larger">
							<b>Open For: </b>
							<br />
                            All undergraduate students pursuing B.Tech., B.E., B.Sc. and dual degree programs are welcome to participate

							<br /><br>
							<b>Contact :</b> Yash Umale: +919620394487
							<br />
						</p>

						

						<p style="text-align: center; margin-top: 20px">
							<button
								style="font-size: xx-large"
								onclick="topFunction()"
							>
								<b>Register Below</b>
							</button>
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="techweek"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Art Gallery</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="culturalweek"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Conquer The Squares</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
