<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/managementEvents/tradeOMania.jpg"
							alt="Trade O Mania"
						/>
					</div>

					<h4
						class="blogHeader"
					>
						Trade O Mania
					</h4>
					<div class="blog-single-content__paragraph">
						<p>
							Trade-O-mania is a traditional trading platform with
							highly challenging trading competition. It is where
							smart and ambitious students can showcase their
							investing skills and make virtual profit to win. It
							consists of 3 rounds which includes trading in
							virtual stock market in real stocks undertaking
							market risk.
							<br /><br />

							<b>Entry for:</b> All Students(Teams Of 2)

							<br /><br />

							<b>Platform:</b> Zoom/MS Teams


							<br /><br />

							<b>Entry Fee:</b> &#x20B9; 100 Per Head


							<br /><br>

							<b>Prizes:</b>
						</p>
						<div>
							<ul class="listClass">
								<li>1st Place - &#x20B9; 2500</li>
								<li>2nd Place - &#x20B9; 1500</li>
							</ul>
						</div>
					</div>

					<h4
						class="blogSubHeading"
					>
						Round 1
					</h4>
					<div
						class="blog-single-content__time"
					>
						<span
							><i class="far fa-calendar-check"></i>
							6<sup>th</sup>November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i> 6:00PM - 7:00PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">
						<p >
							<b>Event:</b> Oral Quiz
							<br />
							<b>Rules:</b> Individual round for each team member
							<br />
						</p>
					</div>

					<h4
						class="blogSubHeading"
					>
						Round 2
					</h4>
					<div
						class="blog-single-content__time"

					>
						<span
							><i class="far fa-calendar-check"></i>
							7<sup>th</sup>November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i> 10:00AM - 1:00PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">

						<p>
							<b>Event:</b> Virtual Market Trading
						</p>

						<div>
							<ul class="listClass">
								<li>
									Short listed teams from first round can
									participate
								</li>
								<li>
									Each team will be allotted equal amount of
									virtual money
								</li>
								<li>
									Hypothetical stock exchange data and market
									related news will be projected
								</li>
								<li>
									Buy and sell given virtual stocks on the
									basis of these information
								</li>
							</ul>
						</div>
					</div>

					<h4
						class="blogSubHeading"
					>
						Round 3
					</h4>
					<div
						class="blog-single-content__time"

					>
						<span
							><i class="far fa-calendar-check"></i>
							8<sup>th</sup>November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i> 9:00AM - 3:30PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">

						<p>
							<b>Event:</b> Actual Market Trading



						<div>
							<ul class="listClass">
								<li>
									Teams who made maximum profit in the Round
									two will participate
								</li>
								<li>
									Real stock market data on a particular day
									in the past will be given
								</li>
								<li>
									Buy and sell stocks on the basis of these
									data
								</li>
								<li>
									Team making maximum profit will be the
									winner
								</li>
							</ul>
						</div>
						</p>

						<p>
							<br /><br />

							<b>Contact:</b>
							<a class="contact-info__link" href="#">
								<img
										class="eventPageContact"
										src="assets/images/Contact-phone.png"
										alt="phone"
								/>
								<span
										class="contactDetails"
								>Nandini Nair : 7558884117</span
								>
							</a>
							<br />

							<b>Deadline For Registration:</b> 4th November 2020
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="businessMavericks"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Business Mavericks</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="scope"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>SCOPE</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
