<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<%- include('components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/managementEvents/vishleshana.jpg"
							alt="Vishleshana 2.0"
						/>
					</div>

					<h4
						class="blogHeader"
					>
						Visleshana
					</h4>
					<div class="blog-single-content__paragraph">
						<p>
							Wanna find out if the data analyst in you works well
							under pressure? All you need to do is torture the
							data we provide you and it will confess to anything.
							Make your decisions quick because it is not hard to
							make decisions once you know what your values are.
							Pun intended. AYKYA is all set to craft the best
							analyst out of you. Come join us and have fun!!!
							<br /><br />

							<b>Entry for:</b> Teams (Max: <i>4</i>)

							<br /><br />

							<b>Platform:</b> Zoom/MS Teams

							<br /><br />

							<b>Deadline For Registration:</b> TBA

							<br /><br />

							<b>Entry Fee:</b> &#x20B9; 100 Per Head

							<br /><br />

							<b>Prizes:</b>
						</p>
						<div>
							<ul class="listClass">
								<li>1st Place - &#x20B9; 2000</li>
								<li>2nd Place - &#x20B9; 1000</li>
							</ul>
						</div>
					</div>

					<h4
						class="blogSubHeading"
					>
						Round 1
					</h4>
					<div
						class="blog-single-content__time"

					>
						<span
							><i class="far fa-calendar-check"></i>
							3<sup>rd</sup>November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i> 7:00PM - 8:00PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">
						<b>Event:</b> MCQ Quiz
						<br />
						<b>Rules:</b> Proctoring
						<div>
							<ul class="listClass">
								<li>
									Teams will be given a timed quiz to be completed
									over a proctored zoom call
								</li>
							</ul>
						</div>

						<br />

						<p>
							<b>Analytics Report Submission</b>

						</p>
						<div >
							<ul class="listClass">
								<li>10 Teams will selected for next round</li>
								<li>
									Data for Analysing and the problem will be
									given the same day
								</li>
								<li>
									Teams can use any Analytics software as per
									their convenience
								</li>
							</ul>
						</div>
					</div>

					<h4
						class="blogSubHeading"
					>
						Round 2
					</h4>
					<div
						class="blog-single-content__time"
					>
						<span
							><i class="far fa-calendar-check"></i>
							7<sup>th</sup>November 2020</span
						>
						<br />
						<span><i class="far fa-clock"></i> Before 7:00AM</span>
					</div>

					<div class="blog-single-content__paragraph">

						<p>
							<b>Analytics Report Submission</b>
						</p>
						<div >

							<ul class="listClass">
								<li>
									PowerPoint presentation to be submitted
									before 10 AM
								</li>
								<li>5 Teams will be selected</li>
								<li>Notice by 10 PM</li>
							</ul>
						</div>
					</div>

					<h4
						class="blogSubHeading"
					>
						Round 3
					</h4>
					<div
						class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i>
							8<sup>th</sup>November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i> 3:00PM - 6:00PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">

						<p>
							<b>Presentation</b>
						</p>

						<div>

							<ul class="listClass">
								<li>
									Share the ppt and explain solution to the
									problem
								</li>
								<li>Time : 20-30 mins / Team</li>
							</ul>
						</div>

						<p>
							<br>
							<b>Contact:</b>
							<span class="contact-info__link">
								<img
										class="eventPageContact"
										src="assets/images/Contact-phone.png"
										alt="phone"
								/>
								<span
										class="contactDetails"
								>Achu S. Padmanabhan: 9037484905</span
								>
							</span>
							<br />
							<b>Deadline For Registration: </b><span> 2<sup>nd</sup>November 2020</span>

						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						></div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="pitchPeak"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Pitch Peak</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
