<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/meta') -%>
    <title>AYKYA</title>
    <%- include('../components/corecss') -%>
</head>

<body>
    <%- include('components/header') -%>
<section class="header-posistion"></section>
<%- include('../components/nav') -%>
<div class="loading">
    <div class="sp sp-3balls"></div>
</div>

<section>
    <div class="container">
        <div class="blog-single-content wow fadeInUp">
            <div class="blog-single-content__thumb">
                <img
                        src="assets/images/eventPosters/technicalEvents/vlsi.jpg"
                        alt="VLSI"
                />
            </div>

            <h4 class="blogHeader">
                The Next Technology - Why Core Engineering is in Demand
            </h4>

            <div class="blog-single-content__time">
						<span
                        ><i class="far fa-calendar-check"></i> 8<sup>th</sup>November 2020</span>
                <br />
                <span
                ><i class="far fa-clock"></i> 12:00PM - 1:00PM</span
                >
            </div>

            <div class="blog-single-content__paragraph">
                <p>
                    <b>Speaker Name: </b> Dr. Shekar Babu.<br />
                    <b>Speaker Details:</b> Chairman INDO-US Center at Amrita University<br /><br />
                    Ever wondered how you will get placed being a core engineer? What are the
                    right skills to acquire? How can one become irresistible by the company?
                    Well, we have all the answers for you. This webinar led by Dr. Shekar Babu will
                    give you all the insights on technology trends for next 10 years and why core engineers
                    will be most sought after.
                    <br /><br>

                    <b>Platform: </b>Microsoft Teams<br /><br />

                    <b>Entry fee : </b> &#x20B9; 199

                    <br /><br />
                </p>
                <p>
                    <b>Entry For: </b>
                    B.tech, M.tech

                    <br /><br />

                    <b>Deadline For Registration: </b><span> 2<sup>nd</sup>November 2020</span>

                    <br><br>

                    <b>Contact :</b>
                    <span class="contact-info__link">
                        <img
                                class="eventPageContact"
                                src="assets/images/Contact-phone.png"
                                alt="phone"
                        />
                        <span
                                class="contactDetails"
                        >
									 P H Lakshmi: +917259283492</span
                        >
                    </span>
                    <br />
                </p>
            </div>

            <div class="blog-single-content__paging">
                <div
                        class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
                ></div>
                <div
                        class="blog-single-content__paging__divide blog-single-content__paging__divide--next-first"
                >
                    <a
                            href="/chatBots"
                            class="blog-single-content__paging__btn"
                    >
								<span
                                >Next<i class="fa fa-angle-double-right"></i
                                    ></span>
                        <h5>Chatbots</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../components/footer') -%> <%-
include('../components/corejs') -%>
</body>
</html>
