<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<meta
			name="description"
			content="A webinar which will be an eyeopener for ECE
							Engineers across the nation who want to pursue a
							career in research and development"
		/>
		<meta property="og:title" content="Webinar On Future ECE" />
		<meta
			property="og:url"
			content="https://aykyamultifest.com/webinarOnFutureECE"
		/>
		<meta
			property="og:description"
			content="A webinar which will be an eyeopener for ECE
							Engineers across the nation who want to pursue a
							career in research and development."
		/>

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Event",
				"name": "Webinar on Future Opportunities in ECE",
				"startDate": "2020-11-6T19:30:00+05:30",
				"endDate": "2020-11-6T20:30+05:30",
				"eventStatus": "https://schema.org/EventScheduled",
				"eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
				"location": {
					"@type": "VirtualLocation",
					"url": "https://aykyamultifest.com/webinarOnFutureECE"
				},
				"image": [
					"/assets/images/eventPosters/technicalEvents/futureOpportunities.jpg"
				],
				"description": "A webinar which will be an eyeopener for ECE Engineers across the nation who want to pursue a career in research and development",

				"performer": {
					"@type": "PerformingGroup",
					"name": "Dr. Navin Kumar"
				},
				"organizer": {
					"@type": "Organization",
					"name": "Aykya",
					"url": "https://aykyamultifest.com"
				}
			}
		</script>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%> <%-
		include('../components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="/assets/images/eventPosters/technicalEvents/futureOpportunities.jpg"
							alt="Workshop On Future Of ECE"
						/>
					</div>

					<h4 class="blogHeader">
						Webinar on future opportunities for ECE engineers
					</h4>

					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 6<sup
								>th</sup
							>
							November 2020
						</span>
						<br />
						<span
							><i class="far fa-clock"></i> 7:30 PM - 8:30
							PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">
						<p>
							<b>Speaker Name: </b> Dr. Navin Kumar<br /><br />
							<b>Speaker Details:</b> HOD - ECE, Amrita Vishwa
							Vidyapeetham Bengaluru <br /><br />
							A webinar which will be an eyeopener for ECE
							Engineers across the nation who want to pursue a
							career in research and development and contribute to
							the vast world of electronics and communication.

							<br /><br />
							<b>Platform: </b>Google meet /Zoom<br /><br />

							<b>Entry fee : </b> Free

							<br /><br />
						</p>
						<p>
							<b>Entry For: </b>
							B.tech, M.tech

							<br /><br />
							<b>Contact :</b>
							<span class="contact-info__link">
								<img
									class="eventPageContact"
									src="/assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									P H Lakshmi: +917259283492</span
								>
							</span>

							<br />
							<b>Register Here:</b>

							<iframe
								src="https://docs.google.com/forms/d/1t4YSWOu-81S3kOSjVOKBWPBF1goiz5fW9GfyvIoz1rk/viewform?embedded=true"
								width="100%"
								height="1700"
								frameborder="0"
								marginheight="0"
								marginwidth="0"
								>Loading…</iframe
							>
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/ramanujan"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Ramanujan to Sherlock</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/webinarOnAstrophotography"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Astrophotography</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
