<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>
	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<%- include('components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/technicalEvents/universe.jpg"
							alt="Webinar On Astrophotography"
						/>
					</div>

					<h4 class="blogHeader">
						Universe through my telescope
					</h4>

					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 8<sup
								>th</sup
							>
							November 2020
						</span>
						<br />
						<span
							><i class="far fa-clock"></i> 5:00 PM - 6:00
							PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">
						<p >
							<b>Speaker Name: </b> Mr.Prabhu
							<br />
							<b>Speaker Details:</b> Famous Astrophotographer
							<br /><br />
							Webinar on Astronomy, Astrophotography and Taking
							pictures of celestial objects in space. Complete
							guidance to all those inquisitive ones about space
							and astronomy.

							<br /><br />
							<b>Platform: </b>Google meet /Zoom<br /><br />

							<b>Entry fee : </b> Free
							<br /><br>
						</p>
						<p >
							<b>Entry For: </b>
							School , College and PU students.
							<br /><br />
							<b>Contact :</b>
							<span class="contact-info__link">
								<img
									class="eventPageContact"
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span
									class="contactDetails"
								>
									P H Lakshmi: +917259283492</span
								>
							</span>
							<br />
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/webinarOnFutureECE"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>The Future of ECE</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/sigma"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Sigma</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
