</html>
<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<script>
		function topFunction() {
			window.scrollTo(0, 2000);
		}
	</script>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a href="#" class="header__buy-ticket">
						<span>Register</span>
					</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventGallery/Astrophotography.png"
							alt="Management Week Blog Thumbnail 1"
						/>
					</div>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 8<sup
								>th</sup
							>
							November 2020 </span
						>
						<br />
						<span><i class="far fa-clock"></i> 5:00 PM - 6:00 PM</span>
					</div>
					<h4 style="color: aliceblue">Astrophotography Webinar
                    </h4>
					<div class="blog-single-content__paragraph">
                        <p style="font-size: larger">
                            <b>Speaker Name: </b> Mr.Prabhu
                            <br>
                            <b>Speaker Details:</b> Famous Astrophotographer
                            <br><br>
                            Webinar on Astronomy, Astrophotography and Taking pictures of celestial objects in space. Complete guidance to all those inquisitive ones about space and astronomy.

							<br /><br>
							<b>Platform: </b>Google meet /Zoom<br><br>

							<b>Entry fee : </b> Free

							
							
							<br />

							

							
						</p>
						<p style="font-size: larger">
							<b>Entry For: </b>
							<br />
							School , College  and PU students.
							<br /><br>
							<b>Contact :</b>  P H Lakshmi: +917259283492

							<br />
						</p>

						

						<p style="text-align: center; margin-top: 20px">
							<button
								style="font-size: xx-large"
								onclick="topFunction()"
							>
								<b>Register Below</b>
							</button>
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="techweek"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Art Gallery</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="culturalweek"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Conquer The Squares</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
