<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a
							href="https://payments.acrd.org.in/pay/event/blr2021001"
							class="header__buy-ticket"
							target="_blank"
							rel="noopener"
						>
							<span>Register</span>
						</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/technicalEvents/Futureopportunities.jpg"
							alt="Workshop On Future Of ECE"
						/>
					</div>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 6<sup
								>th</sup
							>
							November 2020
						</span>
						<br />
						<span
							><i class="far fa-clock"></i> 7:30 PM - 8:30
							PM</span
						>
					</div>
					<h4 style="color: aliceblue">
						Webinar on future opportunities for ECE engineers
					</h4>
					<div class="blog-single-content__paragraph">
						<p style="font-size: larger">
							<b>Speaker Name: </b> Dr. Navin Kumar<br />
							<b>Speaker Details:</b> HOD - ECE, Amrita Vishwa
							Vidyapeetham Bengaluru <br /><br />
							A webinar which will be an eyeopener for ECE
							Engineers across the nation who want to pursue a
							career in research and development and contribute to
							the vast world of electronics and communication.

							<br />

							<br /><br />
							<b>Platform: </b>Google meet /Zoom<br /><br />

							<b>Entry fee : </b> Free

							<br /><br />
						</p>
						<p style="font-size: larger">
							<b>Entry For: </b>
							B.tech, M.tech

							<br /><br />
							<b>Contact :</b>
							<a class="contact-info__link" href="#">
								<img
									class="eventPageContact"
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span
									style="
										color: white;
										filter: brightness(400%) contrast(100%);
									"
								>
									P H Lakshmi: +917259283492</span
								>
							</a>

							<br />
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/ramanujan"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Ramanujan to Sherlock</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/webinarOnAstrophotography"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Astrophotography</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
