<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%> <%-
		include('../components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/technicalEvents/futureOpportunities.jpg"
							alt="Workshop On Future Of ECE"
						/>
					</div>

					<h4 class="blogHeader">
						Webinar on future opportunities for ECE engineers
					</h4>

					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 6<sup
								>th</sup
							>
							November 2020
						</span>
						<br />
						<span
							><i class="far fa-clock"></i> 7:30 PM - 8:30
							PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">
						<p>
							<b>Speaker Name: </b> Dr. Navin Kumar<br /><br />
							<b>Speaker Details:</b> HOD - ECE, Amrita Vishwa
							Vidyapeetham Bengaluru <br /><br />
							A webinar which will be an eyeopener for ECE
							Engineers across the nation who want to pursue a
							career in research and development and contribute to
							the vast world of electronics and communication.

							<br /><br />
							<b>Platform: </b>Google meet /Zoom<br /><br />

							<b>Entry fee : </b> Free

							<br /><br />
						</p>
						<p>
							<b>Entry For: </b>
							B.tech, M.tech

							<br /><br />
							<b>Contact :</b>
							<span class="contact-info__link">
								<img
									class="eventPageContact"
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									P H Lakshmi: +917259283492</span
								>
							</span>

							<br />
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/ramanujan"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Ramanujan to Sherlock</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/webinarOnAstrophotography"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Astrophotography</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
