<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<%- include('../components/meta') -%>
	<title>AYKYA</title>
	<%- include('../components/corecss') -%>
</head>



<body>
<header>
	<div class="extra-container">
		<div class="header-2">
			<div class="header__menu-icon">
				<div class="header__menu-icon__dot">
					<span></span>
					<span></span>
				</div>
				<div
						class="header__menu-icon__dot header__menu-icon__dot--vertical"
				>
					<span></span>
					<span></span>
				</div>
				<div
						class="header__menu-icon__dot header__menu-icon__dot--skew"
				>
					<span></span>
					<span></span>
				</div>
				<div
						class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
				>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="position-fixed"></div>
			<div class="header__logo">
				<a href="/"
				><img
							src="/assets/images/logo-white.png"
							alt="logo"
							width="105px"
							height="41px"
					/></a>
			</div>

			<a href="#" class="header__buy-ticket">
				<span>Register</span>
			</a>
		</div>
	</div>
</header>
<section class="header-posistion"></section>
<%- include('../components/nav') -%>
<div class="loading">
	<div class="sp sp-3balls"></div>
</div>

<section>
	<div class="container">
		<div class="blog-single-content wow fadeInUp">
			<div class="blog-single-content__thumb">
				<img
						src="assets/images/eventPosters/managementEvents/wireHire.jpg"
						alt="Wire Hire"
				/>
			</div>

			<h4 style="color: aliceblue;font-size: 50px;padding-top: 15px">Wire Hire</h4>
			<div class="blog-single-content__paragraph">
				<p>
					Wire hire is a 3 day long workshop conducted by
					industry specialists in the field of Human resource
					management. It aims at providing insights on all aspects of
					human resource including the industry expectations,
					recruitment training and human resource development.
					<br /><br />

					<b>Entry for:</b> All Students

					<br /><br />

					<b>Platform:</b> Zoom/MS Teams

					<br /><br />

					<b>Deadline For Registration:</b> TBA

					<br/><br/>

					<b>Entry Fee:</b> &#x20B9; 75 Per Head

					<br/><br/>
					<b>Contact:</b>
					<a class="contact-info__link" href="#">
						<img src="assets/images/Contact-phone.png" alt="phone"/>
						<span style="
											color: white;
											filter: brightness(400%)
												contrast(100%);
										">Meghna Anand: 9746303991</span>
					</a>
					<br>

					<b>Prizes:</b>

				<ul class="listClass">
					<li>
						1st Place - &#x20B9; 5000
					</li>
				</ul>

				</p>

				<b>Judges: </b>TBA

			</div>

			<h4 style="color: aliceblue;font-size: 40px;padding-top: 15px;">Day 1</h4>
			<div class="blog-single-content__time" style="margin-top: -25px">
				<span><i class="far fa-calendar-check"></i> 6<sup>th</sup>November 2020</span>
				<br/>
				<span><i class="far fa-clock"></i> 10:00AM - 11:30AM</span>
			</div>

			<div class="blog-single-content__paragraph">
				<p style="margin-top: -15px;">
					<b>Speaker:</b> Mr.MK.Swaminathan
					<br>

				</p>
			</div>

			<h4 style="color: aliceblue;font-size: 40px;padding-top: 15px;">Day 2</h4>
			<div class="blog-single-content__time" style="margin-top: -25px">
				<span><i class="far fa-calendar-check"></i> 7<sup>th</sup>November 2020</span>
				<br/>
				<span><i class="far fa-clock"></i> 10:00AM - 11:30AM</span>
			</div>

			<div class="blog-single-content__paragraph">
				<p style="margin-top: -15px;padding-bottom: 10px">
				<div class="listClass" style="margin-left: 0px">
					<b>Speaker:</b> Mrs Sherley Sebastian
				</div>
				</p>
			</div>

			<div class="blog-single-content__paragraph">
				<div class="blog-single-content__time" style="margin-top: 30px">
					<span><i class="far fa-clock"></i> 4:00PM - 6:00PM</span>
				</div>
				<p style="margin-top: -40px;">
				<div class="listClass" style="margin-left: 0px">
					<b>Event:</b> Stress Interview
				</div>
				</p>

			</div>


			<h4 style="color: aliceblue;font-size: 40px;padding-top: 15px;">Round 3</h4>
			<div class="blog-single-content__time" style="margin-top: -25px">
				<span><i class="far fa-calendar-check"></i> 8<sup>th</sup>November 2020</span>
				<br/>
				<span><i class="far fa-clock"></i> 10:00AM - 12:30PM</span>
			</div>

			<div class="blog-single-content__paragraph">
				<p style="margin-top: -15px;">

				</p>

			</div>

			<div class="blog-single-content__paging">
				<div
						class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
				>
					<a
							href="tradeOMania"
							class="blog-single-content__paging__btn"
					>
								<span
								><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
						<h5>Trade O Mania</h5>
					</a>
				</div>
				<div
						class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
				>

				</div>
			</div>
		</div>
	</div>
</section>

<%- include('../components/footer') -%> <%-
include('../components/corejs') -%>
</body>
</html>
