<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/managementEvents/wireHire.jpg"
							alt="Wire Hire"
						/>
					</div>

					<h4
						class="blogHeader"
					>
						Wire Hire
					</h4>
					<div class="blog-single-content__paragraph">
						<p>
							Wire hire is a 2 day workshop with stress interviews and many more interactive rounds  conducted by industry specialists in the field of Human resource management.  It aims at providing insights on all aspects of human resource including the industry expectations,  recruitment training and human resource development.

							<br /><br />

							<b>Entry for:</b> All Students

							<br /><br />

							<b>Platform:</b> Zoom/MS Teams

							<br /><br />


							<b>Entry Fee:</b> &#x20B9; 75 Per Head

							<br /><br />

							<b>Prizes:</b>
						</p>
						<ul class="listClass">
							<li>1st Place - &#x20B9; 5000</li>
						</ul>

						<b>Judges: </b>TBA
					</div>

					<h4
						class="blogSubHeading"
					>
						Day 1
					</h4>
					<div
						class="blog-single-content__time"

					>
						<span
							><i class="far fa-calendar-check"></i>
							6<sup>th</sup>November 2020</span
						>
					</div>

					<div class="blog-single-content__paragraph">
						<p>
							<b>Webinar:</b> Mr.MK.Swaminathan
						<div class="blog-single-content__time">
							<br>

							<span><i class="far fa-clock"></i> 10:00AM - 5:00PM</span>
						</div>

							<p>
								<b>Stress Interview in different slots: </b>12:00PM - 1:00PM and 3PM - 5PM
							</p>

						</p>
					</div>

					<h4
						class="blogSubHeading"
					>
						Day 2
					</h4>
					<div
						class="blog-single-content__time"

					>
						<span
							><i class="far fa-calendar-check"></i>
							7<sup>th</sup>November 2020</span
						>
					</div>
					<div class="blog-single-content__paragraph">
						<p>
							<b>Speaker:</b> Mrs Mary Shirley
						<div class="blog-single-content__time">
							<br>

							<span><i class="far fa-clock"></i> 10:00AM - 11:30AM</span>
						</div>
						<p>
							<b>Remaining Stress Interview : </b>12:00PM - 1:00PM
							<br>
							<b>Situation based Rounds : </b>2:30PM - 5:00PM
						</p>
						</p>
					</div>

					<br>


					<h4
						class="blogSubHeading"
					>
						Day 3
					</h4>
					<div class="blog-single-content__time">
						<span><i class="far fa-calendar-check"></i>8<sup>th</sup>November 2020</span>
						<br />
						<span><i class="far fa-clock"></i> 10:00AM -1:00PM</span>
					</div>
					<div class="blog-single-content__paragraph">
						<p>
							<b>Event:</b> Closing Session, Announcement of Results
						</p>
					</div>


					<div class="blog-single-content__paragraph">
						<p>
							<br>
							<b>Contact:</b>
							<a class="contact-info__link" href="#">
								<img
										class="eventPageContact"
										src="assets/images/Contact-phone.png"
										alt="phone"
								/>
								<span
										class="contactDetails"
								>Meghna Anand: 9746303991</span
								>
							</a>
							<br />
							<b>Deadline For Registration: </b><span> 2<sup>nd</sup>November 2020</span>

						</p>
					</div>



					<div class="blog-single-content__paragraph">
						<p ></p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="tradeOMania"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Trade O Mania</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						></div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
