<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>


	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a href="#" class="header__buy-ticket">
						<span>Register</span>
					</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/technicalEvents/cloudAWS.png"
							alt="Workshop On AWS"
						/>
					</div>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 6<sup
								>th</sup
							>
							November 2020 - 7<sup>th</sup> November 2020</span
						>
						<br />
						<span><i class="far fa-clock"></i> 10:00 AM - 1:00 PM</span>
					</div>
					<h4 style="color: aliceblue">Basics of Cloud Computing and Introduction to Amazon Web Services (AWS)
                    </h4>
					<div class="blog-single-content__paragraph">
                        <p style="font-size: larger">
                            <b>Speaker Name: </b>  Mrs. Vineetha<br>
                            <b>Speaker Details:</b> Corporate and Industrial Relations, ASE-B<br><br>
							A workshop that would help participants to get started with cloud computing, along with introducing them to the world of Amazon's AWS.
							

                            The session would cover the fundamentals of core services including Amazon EC2, S3, VPC etc. All Cloud Computing beginners, those who are looking forward to gaining AWS certification should start from here!
							<br />

							
							
							<br /><br />
							<b>Platform: </b>Microsoft Teams<br><br>

							<b>Entry fee : </b> &#x20B9; 199

							<br /><br />
						</p>
						<p style="font-size: larger">
							<b>Entry For: </b>
							B.Tech students and above. All Cloud Computing beginners, those who are looking forward to gaining AWS certification could start from here!
							<br /><br>
							<b>Contact :</b>
							<a class="contact-info__link" href="#">
								<img
										src="assets/images/Contact-phone.png"
										alt="phone"
								/>
								<span
										style="
											color: white;
											filter: brightness(400%)
												contrast(100%);
										"
								>
										P Vignesh: +91 96638 90207</span
								>
							</a>
							<br />
						</p>


					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="techweek"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Art Gallery</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="culturalweek"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Conquer The Squares</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
