<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<header>
			<div class="extra-container">
				<div class="header-2">
					<div class="header__menu-icon">
						<div class="header__menu-icon__dot">
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--vertical"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew"
						>
							<span></span>
							<span></span>
						</div>
						<div
							class="header__menu-icon__dot header__menu-icon__dot--skew-reverse"
						>
							<span></span>
							<span></span>
						</div>
					</div>
					<div class="position-fixed"></div>
					<div class="header__logo">
						<a href="/"
							><img
								src="/assets/images/logo-white.png"
								alt="logo"
								width="105px"
								height="41px"
						/></a>
					</div>

					<a
							href="https://payments.acrd.org.in/pay/event/blr2021001"
							class="header__buy-ticket"
							target="_blank"
							rel="noopener"
						>
							<span>Register</span>
						</a>
				</div>
			</div>
		</header>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%>
		<div class="loading">
			<div class="sp sp-3balls"></div>
		</div>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/technicalEvents/ml.jpg"
							alt="Workshop On Ml"
						/>
					</div>
					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 6<sup
								>th</sup
							>
							November 2020
						</span>
						<br />
						<span
							><i class="far fa-clock"></i> 5:30 PM - 7:30
							PM</span
						>
					</div>
					<h4 style="color: aliceblue">
						Machine learning training and deployment : a full stack
						approach
					</h4>
					<div class="blog-single-content__paragraph">
						<p style="font-size: larger">
							<b>Speaker Name: </b> Mr. Sachin Muraleedharan
							Varriar <br />
							<b>Speaker Details:</b> Data scientist at
							Caterpillar Inc. <br /><br />
							An informative session for participants to learn and
							understand the application of machine learning in a
							business use case and reporting out prescriptions to
							Business users, putting their knowledge to practical
							use. Python libraries for data science - plotly,
							sci-kit learn, and flask/streamlit, etc. would be
							discussed. This is a wonderful opportunity for
							students looking to expand their knowledge horizon
							into the field of business analytics and machine
							learning.

							<br />

							<br /><br />
							<b>Platform: </b>Microsoft Teams<br /><br />

							<b>Entry fee : </b> &#x20B9; 149

							<br /><br />
						</p>
						<p style="font-size: larger">
							<b>Entry For: </b>
							B.Tech students (all branches) with Basic knowledge
							in python programming (Arrays, functions, looping)

							<br /><br />
							<b>Contact :</b>
							<a class="contact-info__link" href="#">
								<img
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span
									style="
										color: white;
										filter: brightness(400%) contrast(100%);
									"
								>
									P Vignesh: +91 96638 90207</span
								>
							</a>
							<br />
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						>
							<a
								href="/arivu"
								class="blog-single-content__paging__btn"
							>
								<span
									><i class="fa fa-angle-double-left"></i
									>Prev</span
								>
								<h5>Mental Health</h5>
							</a>
						</div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next"
						>
							<a
								href="/mathWorks"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Simulink</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
