<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../components/meta') -%>
		<title>AYKYA</title>
		<%- include('../components/corecss') -%>
	</head>

	<body>
		<%- include('../components/header') -%>
		<section class="header-posistion"></section>
		<%- include('../components/nav') -%> <%-
		include('../components/loading') -%>

		<section>
			<div class="container">
				<div class="blog-single-content wow fadeInUp">
					<div class="blog-single-content__thumb">
						<img
							src="assets/images/eventPosters/technicalEvents/cloudAWS.jpg"
							alt="Workshop On AWS"
						/>
					</div>

					<h4 class="blogHeader">
						Basics of Cloud Computing and Introduction to Amazon Web
						Services (AWS)
					</h4>

					<div class="blog-single-content__time">
						<span
							><i class="far fa-calendar-check"></i> 6<sup
								>th</sup
							>
							November 2020 - 7<sup>th</sup> November 2020</span
						>
						<br />
						<span
							><i class="far fa-clock"></i> 10:00 AM - 1:00
							PM</span
						>
					</div>

					<div class="blog-single-content__paragraph">
						<p>
							<b>Speaker Name: </b> Mrs. Vineetha<br />
							<b>Speaker Details:</b> Corporate and Industrial
							Relations, ASE-B<br /><br />
							A workshop that would help participants to get
							started with cloud computing, along with introducing
							them to the world of Amazon's AWS. The session would
							cover the fundamentals of core services including
							Amazon EC2, S3, VPC etc. All Cloud Computing
							beginners, those who are looking forward to gaining
							AWS certification should start from here!
							<br /><br />

							<b>Prerequisites: </b>None<br /><br />

							<b>Platform: </b>Microsoft Teams<br /><br />

							<b>Entry fee : </b> &#x20B9; 199

							<br /><br />
						</p>
						<p>
							<b>Entry For: </b>
							B.Tech students and above. All Cloud Computing
							beginners, those who are looking forward to gaining
							AWS certification could start from here!
							<br /><br />

							<b>Deadline For Registration: </b
							><span> 2<sup>nd</sup>November 2020</span>

							<br /><br />

							<b>Contact :</b>
							<span class="contact-info__link">
								<img
									class="eventPageContact"
									src="assets/images/Contact-phone.png"
									alt="phone"
								/>
								<span class="contactDetails">
									P Vignesh: +91 96638 90207</span
								>
							</span>
							<br />
						</p>
					</div>

					<div class="blog-single-content__paging">
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--prev"
						></div>
						<div
							class="blog-single-content__paging__divide blog-single-content__paging__divide--next-first"
						>
							<a
								href="/chatBots"
								class="blog-single-content__paging__btn"
							>
								<span
									>Next<i class="fa fa-angle-double-right"></i
								></span>
								<h5>Chatbots</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../components/footer') -%> <%-
		include('../components/corejs') -%>
	</body>
</html>
